@using NACTAM.ViewModels

@{
    ViewData["Sidebar"] = "Empty";
}

@model CreateUserViewModel


<style>
#settings-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"personal profile-pic" 
		"personal login-data " 
		".    submit   ";
	gap: 25px;
	padding: 20px;
}

@@media only screen and (max-width: 600px) {
	#settings-form {
		grid-template-areas:
			"personal"
			"profile-pic" 
			"login-data" 
			"submit";
	}
}

#type-of-user {
	display: inline;
	width: 300px;
	position: absolute;
	right: 0;
}

#settings-container {
	position: relative;
}
</style>

<!-- Begin Page Content -->
<div class="container-fluid">

	<form id="settings-container" asp-action="CreateUser" method="post" enctype="multipart/form-data">
		<h1 class="h3 mb-2 text-gray-800">
			Account

			<select class="form-control form-control-user" id="type-of-user" asp-for="Type">
				<option value="Private Person">Private Person</option>
				<option value="Tax Advisor">Tax Advisor</option>
			</select>

		</h1>

		<div class="row">
			@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0) {
				<div class="alert alert-danger">@Html.ValidationSummary()</div>
			}
			<div id="settings-form">
				<div class="card mb-4" style="grid-area: personal">
					<div class="card-header">Persönliche Daten</div>
					<div class="card-body">
						<!-- Form Row-->
						<div class="row gx-3 mb-3">
							<!-- Form Group (first name)-->
							<div class="col-md-6 form-group">
								<label class="small mb-1" asp-for="FirstName">Vorname</label>
								<input class="form-control" type="text" placeholder="Geben Sie Ihren Vorname ein" asp-for="FirstName">
								<span asp-validation-for="FirstName" class="text-danger"></span>
							</div>
							<!-- Form Group (last name)-->
							<div class="col-md-6 form-group">
								 <label class="small mb-1" asp-for="LastName">Nachname</label>
								 <input class="form-control" type="text" placeholder="Geben Sie Ihren Nachname ein" asp-for="LastName">
								<span asp-validation-for="LastName" class="text-danger"></span>
							</div>
						</div>
						<!-- Form Group (email address)-->
						<div class="mb-3 form-group">
							<label class="small mb-1" for="Input.Email">E-Mail Adresse</label>
							<input class="form-control" type="email" placeholder="Geben Sie Ihre E-Mail Adresse ein" asp-for="Input.Email">
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<!-- Form Group (phone number)-->
						<div class="mb-3 form-group">
							<label class="small mb-1" for="PhoneNumber">Telefonnummer</label>
							<input class="form-control" type="tel" placeholder="Geben Sie Ihre Telefonnummer ein" asp-for="PhoneNumber">
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
						<!-- Form Row		-->
						<div class="row gx-3 mb-3">
							<!-- Form Group (street)-->
							<div class="col-md-6 form-group">
								<label class="small mb-1"  asp-for="StreetName">Straße</label>
								<input class="form-control" type="text" placeholder="Geben Sie Ihre Straße ein" asp-for="StreetName">
								<span asp-validation-for="StreetName" class="text-danger"></span>
							</div>
							<!-- Form Group (number)-->
							<div class="col-md-6 form-group">
								<label class="small mb-1" asp-for="HouseNumber">Hausnummer</label>
								<input class="form-control" type="text" placeholder="Geben Sie Ihre Hausnummer ein" asp-for="HouseNumber">
								<span asp-validation-for="HouseNumber" class="text-danger"></span>
							</div>
						</div>

						<!-- Form Row-->
						<div class="row gx-3 mb-3">
							<!-- Form Group (zip)-->
							<div class="col-md-6 form-group">
								<label class="small mb-1" asp-for="ZIP">Postleitzahl</label>
								<input class="form-control" type="text" placeholder="Geben Sie Ihre PLZ ein" asp-for="ZIP">
								<span asp-validation-for="ZIP" class="text-danger"></span>
							</div>
							<!-- Form Group (place)-->
							<div class="col-md-6 form-group">								
								<label class="small mb-1" asp-for="City">Ort</label>
								<input class="form-control" type="text" placeholder="Geben Sie Ihren Ort ein" asp-for="City">
								<span asp-validation-for="City" class="text-danger"></span>
							</div>
						</div>
						<div class="row gx-3 mb-3">
							<!-- Form Group (zip)-->
							<div class="col-md-6 form-group">
								<label class="small mb-1" asp-for="EmailNotification">Email Benachrichtung</label>
								<input type="checkbox" asp-for="EmailNotification">
								<span asp-validation-for="EmailNotification" class="text-danger"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="card mb-4">
					<div class="card-header">Profilbild</div>
					<div class="card-body">
						<div>
							<!-- Profile picture image-->
							<img id="display-profile" width="100" height="100" class="img-account-profile rounded-circle mb-2" alt="<empty profile picture D:>">
							<!-- Profile picture upload button-->
							<input class="form-control" type="file" asp-for="Icon" onchange="readImage(this, 'display-profile')">
							<span asp-validation-for="Icon" class="text-danger"></span>
						</div>
					</div>
				</div>

				<!-- Profile picture card-->
				<div class="card mb-4 mb-xl-0">
					<div class="card-header">Logindaten</div>
					<div class="card-body text-center">
						<div>
							<label class="small mb-1" asp-for="UserName">Username</label>
							<input class="form-control" type="text" placeholder="Geben Sie den Nutzernamen ein" asp-for="UserName">
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div>
							<label class="small mb-1" asp-for="Input.Password">Password</label>
							<input class="form-control" type="text" placeholder="Geben Sie das zugehörige Passwort ein" asp-for="Input.Password">
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>
						<div>
							<label class="small mb-1" asp-for="Input.ConfirmPassword">Confirm Password</label>
							<input class="form-control" type="text" placeholder="Geben Sie das zugehörige Passwort erneut ein" asp-for="Input.ConfirmPassword" class="text-danger"></span>
							<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
						</div>
					</div>
				</div>
				<input id="save-button" class="btn btn-primary" type="submit" style="justify-self: start">
			</div>
		</div>	
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial"></partial>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.dirtyforms/2.0.0/jquery.dirtyforms.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(function() {
	$("#settings-form").dirtyForms({preventLeaving: true});
});

</script>
}
