@using NACTAM.ViewModels;

@{
	ViewData["Sidebar"] = "Empty";
	ViewData["Header"] = "Empty";
}


@model ForgotPasswordViewModel

<div class="container">
	@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0) {
		<div class="alert alert-danger">@Html.ValidationSummary()</div>
	}

	@if (!string.IsNullOrEmpty(ViewBag.FeedbackPasswordReset)) {
		<div class="alert alert-success">@ViewBag.FeedbackPasswordReset</div>
	}
	<div class="card o-hidden border-0 shadow-lg">
		<div class="card-body p-0 pb-3" style="display: grid; justify-content: center;">
			<form asp-action="ForgotPassword" method="post" class="user" id="login-form" style="width: 25vw">
				<div class="text-center">
					<h1 class="h4 text-gray-900 my-4">Neues Passwort anfordern</h1>
				</div>
				<div class="form-group" style="margin: 30px">
					<input type="email" asp-for="Email" class="form-control form-control-user"
						id="username" placeholder="Email adresse...">
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<button class="btn btn-primary btn-user btn-block" type="submit">anfordern</button>
			</form>

		</div>
	</div>
</div>




@section Scripts {
	<partial name="_ValidationScriptsPartial"></partial>
}
