@using NACTAM.ViewModels;
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@{
	var user = await UserManager.GetUserAsync(User);
	ViewData["Sidebar"] = user.DiscriminatorValue == "PrivatePerson" ? "Sidebar" : user.DiscriminatorValue == "TaxAdvisor" ? "AdvisorSidebar" : "Empty";
}


@model PasswordChangeViewModel

@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0) {
	<div class="alert alert-danger">@Html.ValidationSummary()</div>
}
<form asp-action="PasswordUpdate" method="post" class="user" id="login-form" style="width: 25vw">
	<div class="text-center">
		<h1 class="h4 text-gray-900 my-4">Update Password</h1>
	</div>
	<div class="form-group" style="margin: 30px">
		<input type="password" asp-for="OldPassword" class="form-control form-control-user"
			id="old-password" placeholder="altes Passwort">
		<span asp-validation-for="OldPassword" class="text-danger"></span>
	</div>
	<div class="form-group" style="margin: 30px">
		<input type="password" asp-for="Password" class="form-control form-control-user"
			id="password" placeholder="neues Passwort">
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>
	<div class="form-group" style="margin: 30px">
		<input type="password" asp-for="PasswordConfirmation" class="form-control form-control-user"
			id="password-confirmation" placeholder="neues Passwort wiederholen">
		<span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
	</div>
	<button class="btn btn-primary btn-user" style="right: 100px; position: absolute;" type="submit">Passwort ändern</button>
</form>




@section Scripts {
	<partial name="_ValidationScriptsPartial"></partial>
}
