<div id="content-wrapper" class="d-flex flex-column">
	<div class="container-fluid" style="padding-top: 10%; padding-bottom: 25%;">
		<div class="text-center">
			<div class="error mx-auto" data-text="Fehler!" style="width: 20rem">Fehler!</div>
			<p class="lead text-gray-800 mb-5">Inkonsistenter Datensatz!</p>
		</div>
	</div>
</div>
