@{
    ViewData["Sidebar"] = "Empty";
    ViewData["Header"] = "Empty";
}

<div class="container mt-5 d-flex justify-content-center">
        <div class="card text-center" style="width: 300px;">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/tools-equipment-construction/binoculars-icon.png" class="card-img-top mx-auto mt-3" style="max-width: 120px;" alt="Keine Berechtigung">
            <div class="card-body pt-1">
                <h5 class="card-title fw-bold mt-3">Seite nicht gefunden</h5>
                <p class="card-text">Die angeforderte Seite wurde leider nicht gefunden. Überprüfen Sie die eingegebene URL und versuchen Sie es erneut.</p>
            </div>
        </div>
</div>