<!DOCTYPE html>
<!--
	NOTES:
	1. All tokens are represented by '$' sign in the template.
	2. You can write your code only wherever mentioned.
	3. All occurrences of existing tokens will be replaced by their appropriate values.
	4. Blank lines will be removed automatically.
	5. Remove unnecessary comments before creating your template.
-->
<!-- write your code here -->
<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
<script>
(function (cjs, an) {
var p; // shortcut to reference prototypes
var lib={};var ss={};var img={};
lib.ssMetadata = [
		{name:"NACTAM_export_atlas_1", frames: [[841,0,558,353],[392,452,484,407],[392,0,447,450],[0,0,390,547],[0,549,332,497],[878,355,268,560]]}
];
(lib.AnMovieClip = function(){
	this.actionFrames = [];
	this.ignorePause = false;
	this.gotoAndPlay = function(positionOrLabel){
		cjs.MovieClip.prototype.gotoAndPlay.call(this,positionOrLabel);
	}
	this.play = function(){
		cjs.MovieClip.prototype.play.call(this);
	}
	this.gotoAndStop = function(positionOrLabel){
		cjs.MovieClip.prototype.gotoAndStop.call(this,positionOrLabel);
	}
	this.stop = function(){
		cjs.MovieClip.prototype.stop.call(this);
	}
}).prototype = p = new cjs.MovieClip();
// symbols:
(lib.CachedBmp_6 = function() {
	this.initialize(ss["NACTAM_export_atlas_1"]);
	this.gotoAndStop(0);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_5 = function() {
	this.initialize(ss["NACTAM_export_atlas_1"]);
	this.gotoAndStop(1);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_4 = function() {
	this.initialize(ss["NACTAM_export_atlas_1"]);
	this.gotoAndStop(2);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_3 = function() {
	this.initialize(ss["NACTAM_export_atlas_1"]);
	this.gotoAndStop(3);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_2 = function() {
	this.initialize(ss["NACTAM_export_atlas_1"]);
	this.gotoAndStop(4);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_1 = function() {
	this.initialize(ss["NACTAM_export_atlas_1"]);
	this.gotoAndStop(5);
}).prototype = p = new cjs.Sprite();
// helper functions:
function mc_symbol_clone() {
	var clone = this._cloneProps(new this.constructor(this.mode, this.startPosition, this.loop, this.reversed));
	clone.gotoAndStop(this.currentFrame);
	clone.paused = this.paused;
	clone.framerate = this.framerate;
	return clone;
}
function getMCSymbolPrototype(symbol, nominalBounds, frameBounds) {
	var prototype = cjs.extend(symbol, cjs.MovieClip);
	prototype.clone = mc_symbol_clone;
	prototype.nominalBounds = nominalBounds;
	prototype.frameBounds = frameBounds;
	return prototype;
	}
(lib.Symbol4 = function(mode,startPosition,loop,reversed) {
if (loop == null) { loop = true; }
if (reversed == null) { reversed = false; }
	var props = new Object();
	props.mode = mode;
	props.startPosition = startPosition;
	props.labels = {};
	props.loop = loop;
	props.reversed = reversed;
	cjs.MovieClip.apply(this,[props]);
	// Ebene_1
	this.shape = new cjs.Shape();
	this.shape.graphics.f("#000000").s().p("AptInQkJiMhXkIIgCgHQgFgQgEgRQBMgeAZgYIBMhNQAQgoAJgPQASgcAxgmIBjhXIByhHQB3hLAYgZQAmgmBugqQCAgwBPAQQBcASAuAFQA0AGAMgKQAIgGAmguQAtgnA5AKQBXAQAdAKQAvASANAjQAKAagHA5QACAyA4AWIC5A7QB4AmASAUQBYBqgJAXIgkBRIATAUQAMAZgdATQgoAZhcAfQhoAihRAKQhzANhWAQQh3AWglAVQgkAWiBAlQh2AhgVAAQgagBhkAVQhzAXggAXQhHApgsAcIgdAUQgoAcgRAXIgDAFQgGAHgCAGQgYAOgbAeQgdgNgdgQg");
	this.shape.setTransform(98.546,57.9898);
	this.timeline.addTween(cjs.Tween.get(this.shape).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Symbol4, new cjs.Rectangle(0,0,197.1,116), null);
(lib.Symbol3 = function(mode,startPosition,loop,reversed) {
if (loop == null) { loop = true; }
if (reversed == null) { reversed = false; }
	var props = new Object();
	props.mode = mode;
	props.startPosition = startPosition;
	props.labels = {};
	props.loop = loop;
	props.reversed = reversed;
	cjs.MovieClip.apply(this,[props]);
	// Ebene_1
	this.shape = new cjs.Shape();
	this.shape.graphics.f("#000000").s().p("AhZIKQgUgCguAAQgNAAiXgpQiSgog1AGQiGANi5AJIimAJQg0AKj+AIQj6AHgPgFQgGgCCqgzQDMg9BPgpQApgWC0hsQCdheBXgpQBSgmB5hBQBsg0B/gdQCOggDugrQDLgrCfhHQAigQDHg+QC6g7AUgNQAKgGBegfQA3gUAigRQCEBTBtBnQBEA/AlBcQAiAzAtAnQgMAOgFANQgdAQggAnQgkAugXAZQg0A6hmBDQhlA+gaAUQggAaiwAwIjbA4QgZAHhGAZQg9AWhJAQQgYAFg0AIQgrAGgdAJQgiALhgADQhmADgKACQgOADghgBQgugDhHAFIgcABIgIAAg");
	this.shape.setTransform(157.5148,52.2417);
	this.timeline.addTween(cjs.Tween.get(this.shape).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Symbol3, new cjs.Rectangle(0,0,315.1,104.5), null);
(lib.Symbol2 = function(mode,startPosition,loop,reversed) {
if (loop == null) { loop = true; }
if (reversed == null) { reversed = false; }
	var props = new Object();
	props.mode = mode;
	props.startPosition = startPosition;
	props.labels = {};
	props.loop = loop;
	props.reversed = reversed;
	cjs.MovieClip.apply(this,[props]);
	// Ebene_1
	this.shape = new cjs.Shape();
	this.shape.graphics.f().s("#000000").ss(1,0,0,4).p("AhdiGQAMAFAPAGQAzAVAeARQATALAYAQQAQAJAKgIQAJgJAvgQQArgOAIAAQAMAAAPAGQAWAHABAPQAAALACAIQABADgDABQgEACgQgDQgTgDgHAAQgmAGgCAAQggAGgEAHQgGALgCAFQgCAIAHAEQATAOABAAQAPAKAMAFQB8AsALASQAFAKAPAUQAJARgNAIQgRAMgIgBQgMAAgOgTQgVgegKgOQgSgYgKgFQgPgHgHgCQgKgDgJACQgSAEgBAAQgLgBgLgPQgOgSgaAHQgbAHAMAVQAIAPARAjQATAhAcAXQAhAaAJAQQAIAMAAAWQAAAGAKAfQAGAUgOAGQgPAIgMgPQgGgGgKgUQgDgHgBgbQgBgagCgDQgBgCghgbQgigcgIgPQgPgdgHgOQgNgZgKgEQgKgFACAmQABAYAFAiQADAOAGAMQAMAWAKAaQALAcAUAxQAMAmgOAQQgRATgGAAQgGAAgFgWQgGgLgMg8QgGghgTgqQgRgogCgMQgCgLADggQACgagIgOQgMgYgEgBQgHAAgOAnQgKAfAIAmQAHAfgKAIQgRAPgLAYQgMAdAJAVQAIAUgJAPQgEAIgHAEQgNgugBgWQgBgRAFgdQAGggAGgJQAFgGgBgiQgBgmAFgPQAJgZABgIQADgNgJgGQgGgIgEgDQgHgGgkgIQgSgEgQAGQgRAHgHAEQgbALglggQgvgqgEg9QgEg5AkgsQAdgjBIg9IBCg2QAVgFAhgQQAcgHAbAaQAYAZgaAgQgBABgWAVQgLALAAAGQAAAKAOAtQAJArgcAOQgPAHgZAHQgxAPhVAPQAQgLATgLQAngWAPABQANABAgAMg");
	this.shape.setTransform(28.6076,38.0865,1,1,14.9983);
	this.shape_1 = new cjs.Shape();
	this.shape_1.graphics.f("#000000").s().p("AA3F6QgGAAgFgWQgGgLgMg8QgGghgTgqQgRgogCgMQgCgLADggQACgagIgOQgMgYgEgBQgHAAgOAnQgKAfAIAmQAHAfgKAIQgRAPgLAYQgMAdAJAVQAIAUgJAPQgEAIgHAEQgNgugBgWQgBgRAFgdQAGggAGgJQAFgGgBgiQgBgmAFgPQAJgZABgIQADgNgJgGQgGgIgEgDQgHgGgkgIQgSgEgQAGIgYALQgbALglggQgvgqgEg9QgEg5AkgsQAdgjBIg9IBCg2QAVgFAhgQQAcgHAbAaQAYAZgaAgIgXAWQgLALAAAGQAAAKAOAtQAJArgcAOQgPAHgZAHQgxAPhVAPQAQgLATgLIAEgDQAYgMAOgEIABAAIABgBIABAAIAGgBIACAAIAAAAIABAAQANABAgAMQgggMgNgBIgBAAIAAAAIgCAAIgGABIgBAAIgBABIgBAAQgOAEgYAMIgEADQgTALgQALQBVgPAxgPIAbALQAzAVAeARQATALAYAQQAQAJAKgIQAJgJAvgQQArgOAIAAQAMAAAPAGQAWAHABAPQAAALACAIQAAABAAAAQAAABAAABQAAAAgBAAQAAABgBAAQgEACgQgDQgTgDgHAAIgoAGQggAGgEAHIgIAQQgCAIAHAEIAUAOQAPAKAMAFQB8AsALASQAFAKAPAUQAJARgNAIQgRAMgIgBQgMAAgOgTIgfgsQgSgYgKgFIgWgJQgKgDgJACIgTAEQgLgBgLgPQgOgSgaAHQgbAHAMAVQAIAPARAjQATAhAcAXQAhAaAJAQQAIAMAAAWQAAAGAKAfQAGAUgOAGQgPAIgMgPQgGgGgKgUQgDgHgBgbQgBgagCgDQgBgCghgbQgigcgIgPIgWgrQgNgZgKgEQgKgFACAmQABAYAFAiQADAOAGAMQAMAWAKAaIAfBNQAMAmgOAQQgQATgGAAIgBAAg");
	this.shape_1.setTransform(28.6076,38.0865,1,1,14.9983);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.shape_1},{t:this.shape}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Symbol2, new cjs.Rectangle(-1,-1,58.3,78), null);
(lib.Symbol1 = function(mode,startPosition,loop,reversed) {
if (loop == null) { loop = true; }
if (reversed == null) { reversed = false; }
	var props = new Object();
	props.mode = mode;
	props.startPosition = startPosition;
	props.labels = {};
	props.loop = loop;
	props.reversed = reversed;
	cjs.MovieClip.apply(this,[props]);
	// Ebene_1
	this.shape = new cjs.Shape();
	this.shape.graphics.f().s("#000000").ss(1,0,0,4).p("AhnAkQAHgMAJgNQAggtAXgaQAVgYACgEQABgDgIgNQgGgLAEguQADghAEgRQACgKAQgVQAUgZAOADQALACAJAAQADAAAAADQABADgWAZQgXAagBAHQgBAHgEAcQgCAZAFAFQAHAGAUgDQATgEAHgHQAMgJAHgHQANgMAHgLQAMgXAIgNQAOgXANgEQAGgCATgPQAKgHAFANQgIAogZADQgUABgBAvQAAALgEADQgCACgWAKQgUAJABAcQABAcAXgHQAQgFAUgGQARgHAegXQARgOAagfQAOgQAPADQAJACAZgGQASgFAGANQAIAQgUALQgKAFgXAFQgJACgPALQgPAKgDABQgCABgQAXQgRAXgRAFQgfAIgPAEQgbAIgHAIQgHAJATAHQAOAEAYACQAXABAFgBQAKgDAjgWQAhgcANgKQAXgRALAQQAMARgOAMQgJAHgZAQQgDACgKALQgDAEgPAGQgiANgogCQgXgCgIgBQgMgBgRAFQg5AOBIAKQAYADAUgDQAMgCAZgFQANgCATgLQAUgNARgDQARgCAHgDQAEgCALAAIgQASQgSATgOACQgMACgfALQgfAMgIADQgMADgNAAQgIAAgcgDQgzgEgRARQgGAFgHABQgHAGgQAhQgIARACARQABAKAEAQQAFAcgnAdQgzAlg8gJQg4gIgkgtQgcgjgshUIgmhMQgIgngBgRQgBgeAfgUQAhgVAogBQAVgBAdAGQAPADAXAfQAZAhAIAjQAEAQACAaQADAygDBWQgIgSgGgVQgNgqAFgPQADgMATgcg");
	this.shape.setTransform(27.1727,30.0412,1,1,150.0008);
	this.shape_1 = new cjs.Shape();
	this.shape_1.graphics.f("#000000").s().p("Ah6EHQg4gIgkgtQgcgjgshUIgmhMQgIgngBgRQgBgeAfgUQAhgVAogBQAVgBAdAGQAPADAXAfQAZAhAIAjQAEAQACAaQgTAcgDAMIgCAKQAAAQAKAfQAGAVAIASQABgrAAgiQAAgigBgZIAQgZQAggtAXgaQAVgYACgEQABgDgIgNQgGgLAEguQADghAEgRQACgKAQgVQAUgZAOADQALACAJAAQAAAAABAAQAAAAABABQAAAAABABQAAAAAAABQABADgWAZQgXAagBAHIgFAjQgCAZAFAFQAHAGAUgDQATgEAHgHIATgQQANgMAHgLIAUgkQAOgXANgEQAGgCATgPQAKgHAFANQgIAogZADQgUABgBAvQAAALgEADQgCACgWAKQgUAJABAcQABAcAXgHIAkgLQARgHAegXQARgOAagfQAOgQAPADQAJACAZgGQASgFAGANQAIAQgUALQgKAFgXAFQgJACgPALQgPAKgDABQgCABgQAXQgRAXgRAFIguAMQgbAIgHAIQgHAJATAHQAOAEAYACQAXABAFgBQAKgDAjgWIAugmQAXgRALAQQAMARgOAMQgJAHgZAQIgNANQgDAEgPAGQgiANgogCIgfgDQgMgBgRAFQg5AOBIAKQAYADAUgDIAlgHQANgCATgLQAUgNARgDQARgCAHgDQAEgCALAAIgQASQgSATgOACQgMACgfALIgnAPQgMADgNAAIgkgDQgzgEgRARQgGAFgHABQgHAGgQAhQgIARACARQABAKAEAQQAFAcgnAdQgpAegvAAQgLAAgMgCgAhnCsQgIgSgGgVQgKgfAAgQIACgKQADgMATgcQABAZAAAiQAAAigBArIAAAAgAhnAkIAAAAg");
	this.shape_1.setTransform(27.1727,30.0412,1,1,150.0008);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.shape_1},{t:this.shape}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Symbol1, new cjs.Rectangle(-1,-1,61,64.7), null);
(lib.Leg3 = function(mode,startPosition,loop,reversed) {
if (loop == null) { loop = true; }
if (reversed == null) { reversed = false; }
	var props = new Object();
	props.mode = mode;
	props.startPosition = startPosition;
	props.labels = {};
	props.loop = loop;
	props.reversed = reversed;
	cjs.MovieClip.apply(this,[props]);
	// Ebene_1
	this.shape = new cjs.Shape();
	this.shape.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("Aj1j4IgJgKQgBgCgXAvQgYAugBgBAhNisQABgEABgJQADgUABAJQAHBFgJAJQgJAJgEACQgIAEgGgGQgLgJgHgHQgOgMgHgLQhFg+glgmIA/BEQAKANADAGQAFAJAAAJIAAAUQADAKARAIQgBABgCABQhUAtgYgRQgJgGAFgNQAGgNAPgJQAogaArAgQAEADAEAEQAzAsAcB5QAFAEgCAYQgDAeAOAeQAIARgBARQgBAKgFAQQgFAcAoAdQAyAlA8gJQA5gIAjgtQAdgjAshUIAmhMQAIgoABgQQABgegggUQghgVgogBQgVgBgcAGQgQADgXAfQgZAhgIAiQgFAWADAaQABAKADAKQAEATAGANQADACACgCQAEgCgEgPQgEgLgPgYQgIgNgMgRQgfgtgXgaQgbgbgIgJQgNgOAGgLQAHgLAFgxQAEgtgBgIQgDgMgIgOQgNgUgOADQgOADgBAjQAAAQAAATQABACAAACQgCAHABgLg");
	this.shape.setTransform(41.0499,29.739,1.3516,1,0,180,0);
	this.shape_1 = new cjs.Shape();
	this.shape_1.graphics.f("#000000").s().p("AgnDzQgogdAFgcQAFgQABgKQABgRgIgRQgOgeADgeQACgYgFgEQgdh5gygsIADgCQgRgIgDgKIAAgUQAAgJgFgJIgNgTIg/hEQAlAmBFA+QAHALAOAMIASAQQAGAGAIgEQAEgCAJgJQAJgJgHhFQgBgJgDAUIgCANIAAgjQABgjAOgDQAOgDANAUQAIAOADAMQABAIgEAtQgFAxgHALQgGALANAOIAkAkQAWAaAfAtIAUAeIAEAUQAEATAGANIAAAAIABABIACAAIAAAAIAAAAIACAAIAAgBQACgBAAgEQAAgEgCgIQgEgLgPgYQgDgaAFgWQAIgiAZghQAXgfAQgDQAcgGAVABQAoABAhAVQAgAUgBAeQgBARgIAnIgmBMQgsBUgdAjQgjAtg5AIQgMACgLAAQgvAAgogegABJBmIgCAAIgBgBIAAAAQgGgNgEgTIgEgUQAPAYAEALQACAIAAAEQAAAEgCABIAAABIgCAAIAAAAIAAAAgAA4AxIAAAAgAkUhjQgJgGAFgNQAGgNAPgJQAogaArAgIAIAHQg9AhgeAAQgKAAgHgFgAioh/IAAAAg");
	this.shape_1.setTransform(43.9027,27.3495,1.3516,1,0,180,0);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.shape_1},{t:this.shape}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Leg3, new cjs.Rectangle(-1.8,-1.8,85.8,59.4), null);
(lib.Eye = function(mode,startPosition,loop,reversed) {
if (loop == null) { loop = true; }
if (reversed == null) { reversed = false; }
	var props = new Object();
	props.mode = mode;
	props.startPosition = startPosition;
	props.labels = {};
	props.loop = loop;
	props.reversed = reversed;
	cjs.MovieClip.apply(this,[props]);
	// Ebene_1
	this.shape = new cjs.Shape();
	this.shape.graphics.f("#FFFFFF").s().p("AgDB3QgygIgmgXQgjgWgHgVQgFgSgEgWQgEgUABgIIAAgbIAygbQA9gbAzgGQBTgJARAAIAUAxQARA4gQAeQg1BohJAAIgPgBg");
	this.shape.setTransform(14.6098,12.0113);
	this.timeline.addTween(cjs.Tween.get(this.shape).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Eye, new cjs.Rectangle(0,0,29.3,24), null);
(lib.Leg2 = function(mode,startPosition,loop,reversed) {
if (loop == null) { loop = true; }
if (reversed == null) { reversed = false; }
	var props = new Object();
	props.mode = mode;
	props.startPosition = startPosition;
	props.labels = {};
	props.loop = loop;
	props.reversed = reversed;
	cjs.MovieClip.apply(this,[props]);
	// Ebene_1
	this.instance = new lib.Symbol2();
	this.instance.setTransform(28.2,38,1,1,0,0,0,28.2,38);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Leg2, new cjs.Rectangle(-0.5,-0.5,57.3,77), null);
(lib.Leg1 = function(mode,startPosition,loop,reversed) {
if (loop == null) { loop = true; }
if (reversed == null) { reversed = false; }
	var props = new Object();
	props.mode = mode;
	props.startPosition = startPosition;
	props.labels = {};
	props.loop = loop;
	props.reversed = reversed;
	cjs.MovieClip.apply(this,[props]);
	// Ebene_1
	this.instance = new lib.Symbol1();
	this.instance.setTransform(29.4,31.6,1,1,0,0,0,29.4,31.6);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Leg1, new cjs.Rectangle(-0.6,-0.5,60.1,64.2), null);
// stage content:
(lib.NACTAM_HTML5Canvas = function(mode,startPosition,loop,reversed) {
if (loop == null) { loop = true; }
if (reversed == null) { reversed = false; }
	var props = new Object();
	props.mode = mode;
	props.startPosition = startPosition;
	props.labels = {};
	props.loop = loop;
	props.reversed = reversed;
	cjs.MovieClip.apply(this,[props]);
	// svg36465
	this.instance = new lib.CachedBmp_1();
	this.instance.setTransform(60.1,40.1,0.5,0.5);
	this.instance_1 = new lib.CachedBmp_2();
	this.instance_1.setTransform(70.25,71.95,0.5,0.5);
	this.instance_2 = new lib.CachedBmp_3();
	this.instance_2.setTransform(108.3,119.5,0.5,0.5);
	this.instance_3 = new lib.CachedBmp_4();
	this.instance_3.setTransform(106.35,150.45,0.5,0.5);
	this.instance_4 = new lib.CachedBmp_5();
	this.instance_4.setTransform(139.1,176.95,0.5,0.5);
	this.instance_5 = new lib.CachedBmp_6();
	this.instance_5.setTransform(119,201.65,0.5,0.5);
	this.instance_6 = new lib.Symbol2();
	this.instance_6.setTransform(326.4,329.85,1,1,0,0,0,28.2,38);
	this.instance_7 = new lib.Symbol1();
	this.instance_7.setTransform(132.6,350.4,1,1,0,0,0,29.4,31.6);
	this.shape = new cjs.Shape();
	this.shape.graphics.f("#FFFFFF").s().p("AgDB3QgygIgmgXQgjgWgHgVQgFgSgEgWQgEgUABgIIAAgbIAygbQA9gbAzgGQBTgJARAAIAUAxQARA4gQAeQg1BohJAAIgPgBg");
	this.shape.setTransform(427.1098,219.4113);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance}]}).to({state:[{t:this.instance_1}]},2).to({state:[{t:this.instance_2}]},3).to({state:[{t:this.instance_3}]},1).to({state:[{t:this.instance_4}]},1).to({state:[{t:this.instance_5}]},1).to({state:[{t:this.shape},{t:this.instance_7},{t:this.instance_6}]},1).to({state:[]},1).wait(17));
	// Eye
	this.instance_8 = new lib.Eye();
	this.instance_8.setTransform(427.1,219.4,1,1,0,0,0,14.6,12);
	this.instance_8._off = true;
	this.timeline.addTween(cjs.Tween.get(this.instance_8).wait(10).to({_off:false},0).to({x:446.95,y:230.55},3).to({x:476.7,y:246.4},3).to({x:428.1,y:218.6},5).to({x:426.7,y:219.15},5).wait(1));
	// Leg2
	this.instance_9 = new lib.Leg2();
	this.instance_9.setTransform(326.4,329.85,1,1,0,0,0,28.2,38);
	this.instance_9._off = true;
	this.timeline.addTween(cjs.Tween.get(this.instance_9).wait(10).to({_off:false},0).to({rotation:45,x:317.25,y:329.9},3).to({rotation:0,x:351.05,y:337.6},3).to({regY:38.1,rotation:14.9983,x:338.05,y:337.7},2).to({regY:38,rotation:0,x:326.4,y:329.85},3).to({rotation:14.9983,x:318.05,y:340.75},2).to({rotation:0,x:326.4,y:329.85},3).wait(1));
	// Leg1
	this.instance_10 = new lib.Leg1();
	this.instance_10.setTransform(132.6,350.4,1,1,0,0,0,29.4,31.6);
	this.instance_10._off = true;
	this.timeline.addTween(cjs.Tween.get(this.instance_10).wait(10).to({_off:false},0).to({regY:31.7,rotation:-29.9984,x:180.9,y:340.75},3).to({regY:31.6,rotation:-14.9983,x:209.25,y:337.75},3).to({regX:29.5,rotation:15.0007,x:197.4},2).to({regX:29.4,rotation:0,x:132.6,y:350.4},3).to({regX:29.5,rotation:-14.9983,x:153.05,y:347.35},2).to({regX:29.4,rotation:0,x:132.6,y:350.4},3).wait(1));
	// main_body
	this.shape_1 = new cjs.Shape();
	this.shape_1.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("AIa6gQg7gDgnAuQggAygHAHQgKALg1ABQguAChfgGQhQgFh3BBQhoA4ggArQghAtjGCfIhYBjQgKALgNAPQgZAegJATQgIASgJAnQiKC6gdAaQgeAbh1CMQh8CVgcAwQhqC2gfBFQhqDmAEC4QAFDlA4DuQA7D9BSBkQBUBoEECfQEDCfBzATQBeAPDjBXQByAsBsArQAPADAGgNQAGgMgIgPQgJgQhihNQhjhNg1ghQgSgMiLhNQhxg/ghgcQgxgphDhMQhMhVgVgvQglg+gRgnQgfhHAEhlQAEhkAmh7QAohtADgNQAHgcADhLQAEhZgLgsQgRhEgDhIQgEhfAegfQBDg5AwgpQBchQAshAQAig3APgZQAagqAbgUQAJgnBLg/QAngiBAgzQAdgaBvgnQBgghAagDQAUgDBygxQB7g1AhgbQAigaByglQBUgbBwgdQBPgUBigxQBYgrAkgeQAagXgQgXIgVgSIAZhVQAHgZhnhcQgUgRh8gWQi2gggJgCQg6gOgKgxQgBg6gNgZQgRgggxgMQgfgGhXgEg");
	this.shape_1.setTransform(125.5939,171.6698);
	this.shape_2 = new cjs.Shape();
	this.shape_2.graphics.f("#000000").s().p("ADjahQhsgrhygsQjjhXhegPQhzgTkDifQkEifhUhoQhShkg7j9Qg4jugFjlQgEi4BqjmQAfhFBqi2QAcgwB8iVQB1iMAegbQAdgaCKi6QAJgnAIgSQAJgTAZgeIAXgaIBYhjQDGifAhgtQAggrBog4QB3hBBQAFQBfAGAugCQA1gBAKgLQAHgHAggyQAnguA7ADQBXAEAfAGQAxAMARAgQANAZABA6QAKAxA6AOQAJACC2AgQB8AWAUARQBnBcgHAZIgZBVIAVASQAQAXgaAXQgkAehYArQhiAxhPAUQhwAdhUAbQhyAlgiAaQghAbh7A1QhyAxgUADQgaADhgAhQhvAngdAaQhAAzgnAiQhLA/gJAnQgbAUgaAqIgxBQQgsBAhcBQIhzBiQgeAfAEBfQADBIARBEQALAsgEBZQgDBLgHAcQgDANgoBtQgmB7gEBkQgEBlAfBHQARAnAlA+QAVAvBMBVQBDBMAxApQAhAcBxA/QCLBNASAMQA1AhBjBNQBiBNAJAQQAIAPgGAMQgFAKgKAAIgGAAg");
	this.shape_2.setTransform(125.5939,171.6698);
	this.shape_3 = new cjs.Shape();
	this.shape_3.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("A0hY9IgDgCIgBgBIAAAAQgHgNB6hiQCQhxAqglQA2gtAYgVQAogiA1gwQBGg/AxiAQAEgKAZhaQAUhGAohWQA7h/Avh4QAihZAIgfQApilAchIQAUg8AKgbQARgsAcgdQAtgvBThiQBlh3AxhHQAig3APgZQAZgqAbgUQAJgnBLg/QAngiBBgzQAdgaBvgnQBgghAagDQAUgDBygxQB7g1AhgbQAigaByglQBUgbBwgdQBPgUBigxQBYgrAkgeQAagXgQgXIgVgSIAZhVQAHgZhnhcQgUgRh8gWQi2gggJgCQg6gOgKgxQgBg6gNgZQgRgggxgMQgfgGhXgEQg7gDgnAuQggAygHAHQgKALg1ABQguAChfgGQhQgFh4BBQhoA4ggArQghAtjFCfIhYBjQgKALgNAPQgZAegJATQgIASgJAnQiKC6gdAaQgeAbh1CMQh8CVgcAwQgGAKg2BPQg4BSgpBEQiHDggqDGQglCvgJEGQgFCNgDDZQgICDgNAsQgWBHhZB/QgJAOgqAiQgpAigNATQgsBDCbAtQC6A3H6AnQCPALCFAIQhbgBiEAAQl6ABg1gPIgOgEIgDAAIkghagAr0YBQACABACACIAAAAQADABAGADAlZauQBoAHBhAEQgdgIisgDg");
	this.shape_3.setTransform(160.441,206.3542);
	this.shape_4 = new cjs.Shape();
	this.shape_4.graphics.f("#000000").s().p("A2QYNQANgUApgiQAqgiAJgNQBZh/AWhHQANgsAIiEQADjZAFiNQAJkFAlivQAqjGCHjhQAphEA4hSQA2hPAGgJQAcgxB8iVQB1iMAegaQAdgbCKi5QAJgoAIgSQAJgSAZgeIAXgaIBYhjQDFigAhgtQAggrBog4QB4hBBQAFQBfAGAugBQA1gBAKgLQAHgIAggyQAnguA7ADQBXAEAfAHQAxALARAhQANAYABA6QAKAyA6ANQAJADC2AfQB8AWAUASQBnBcgHAZIgZBUIAVATQAQAXgaAWQgkAfhYArQhiAwhPAUQhwAdhUAbQhyAlgiAbQghAbh7A1QhyAxgUACQgaADhgAiQhvAngdAaQhBAzgnAhQhLA/gJAnQgbAUgZArIgxBPQgxBHhlB4QhTBigtAuQgcAdgRAtQgKAagUA8QgcBIgpClQgIAggiBYQgvB4g7B/QgoBXgUBGIgdBjQgxCAhGA/IhdBTIhOBCQgqAkiQByQh6BiAHAMIAAABIABAAIADADQibguAshCg");
	this.shape_4.setTransform(160.441,200.0158);
	this.shape_5 = new cjs.Shape();
	this.shape_5.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("AK/4OQANgPAZgbQAOgMARgHQAjgMAkACQAcACATACQAvAGAUALQAEACAEACQAgAQALAlQABAEABAEQAJAdANAnQAFAKAIAIQAKARAoALQADAAADABQA5AJAPAEQABAAABgBQACACACABQAXANAWABQAlAXAHAIQACAQADATQABAKABAKQALAGALAHQASAPgMAQQgDAIgKAKQgHATgeAbQgBABgBACQgcAYgdAeQgaAXgOAMQgIAFgGAEQg6ARgBAYQgMAHgIAHQgeAUgGAQQACAQghAVQgNATgYAUQgdAmgYAOQgQAKgHAFQgQALgqAXQgHAGgJAIQgCACgDADQgPAMgWAMQg3AZgeAWQgJAGgIAGQgTANgRAMQgcAUgWAQQhEAygWAfQgNAHgMAKQgQANgQARQgWAUgiAoQgiAegqAoQgpAkgqApQghAcgWAXQglApgnAeQgcAYgYAjQgDAEgEAFQgQAWgSAkQggAjgRAtQgTAlgoA7QgEAHgGALQgVAbgaAuQgdAmgTAlQgqBDglA/QgBABgBABQgzBOgQA7QAAABgBAAQgXA9gMAYQgBABAAABQgUAugbAuQgeAxgnAlQgjAggfAbQgLAKgKAJQgZAWgvAnQgYAVgrAkQgmAggwBAQgFAHgFAGQhKBWADATIABACQABABABACQAHAFAIAFQAHAEAIAFQgiAXgkAUQgEADgEACQgcASgqAmQgEADgEAEQgUASghAYQg0AkhVAvQgDACgCACQhxBGgVAJIABABQABABAAABQg9gMgkgQQg0gYANgdIgCgCAK/4OQAfABAVAJQAGAEAFAEQASALAKAjQAUAbAyAHQAOAAA5AIQAuAHA6AIQAgAEAYAEQAIACAJACQAOADA1AJQAVAEAaAEQAkAGAlAIQA0AKAaAJQAtARAPAPQAqAnANAWQAXAogGAXIgEANIACAZQAAAVgLAWQABACAAACQADAHADAHQAEAUgaAUQgWAQgkAUQgfAQgkARQg5AbgyARQglAMgiAJQhFASg5ARQgmAMggALQg0ASgeAPQgkARgdASQgbASg8AcQghAQgkAPQgJADgHADQggANgSAHQgrAPgcAIQgRADgfAKQghALgnAOQgwASgbAPQgpAVgUASQgbAUgVASQghAbgWAVQgaAYgOAVQgeAdgNAdQgCADgDADQgUAUgYAoQgFAHgFAIQgQAagZAkQgfApgwA1QgjAngtAwQgMANgLAMQgpAugZA6QgJAPgIANQgUAmgNAnQgDAMgFAMQgIAYgNAlQgKAYgLAgQgSAxgKAmQgKAjgSA2QgEAMgGASQgOAjgWAyQgdBBghBCQgZAzgpAzQgFAIgGAHQgbAngcAjQgPAUgLATQgPAXgIAPQgUAmABAMQgEApggAbQglA1hIAkQgKAHgKAGQgDACgDACQAgAVAoAdQAZAcApAKQAsAPAoAiQA8AkBKAiQAOAHAOAHQBAAYAjAWQATAFAMAFQApALALAHQAAABAAABQgfAGgSAGQgcAMg3ADQgPABgRAAQhFADhqAHQgQABgRABQgkACgkADQg7AEgwANQgrAJgmAFQgDAAgDAAQk1gYiCggQgMgDgLgEQADACADABQALAEAMADQBUAaBWAbQAvAND9gBQBWAAA8ABQACAAACAAQBwABAWAGQhCABhIgIAjsvBQAFgNAGgLQADgHAEgFQAFgIAHgKQAKgNANgQQAMgOALgMIAogtQAagaAYgZQCDhrAxgxQAegeAVgUQAYgaAzgfQAdgSAjgSQBKgkA5gIQAngGAgACQATABAQABQATABAQAAQAsABAVgFQACAAADgBQAggFASgTQACgBACgDQADgDAEgEAjsvBQATgVAQgSQACgCADgCQCKhyBEhaQABgCABgBQAOgcAcgYQAUgSAggXQAIgGAIgFQAKgHAJgGQBJguA6gTQAMgDAKgBQBQgKArgLQArgHANgNQAMgLAbgnQAMgNANgKQAWgRAXgFQAHgCAHgCQBDgHAngGQAAAAABAAAmzqyQASgUAQgRQAfghBah4QAPgcAQgYQADgFAEgFQADgKADgJAmzqyQAhgqAtg6QAPgmAKgSQALgSAWgaQALgNAKgLQAWgaAUgVArpktQACgDADgEQAZgmANgSQAcgrBOhgQAXgcAYgcQBEhRAhgjQAGgIAHgHArpktQAqg6A+hNQBJhdAegkQARgUALgNQAUgWA3hGAuagVQAAgBACgCQAlhCAyhMQArhCAMgUQAKgRATgaQACgDACgDAsKj8QAHgLAIgLQAKgPAIgMA2cV4QANgMASgKQBDg/AogxQAWgcAOgXQAUgeALg3QAHgkAIgqQAIgvAIgsQAgiTAVhmQADgOADgNQApi/AjiXQAGgbAHgbQAchpA3h1AuagVQAKgTALgTQAVgiAUghQAphCApg8A2cV4QAJgKAOgJQAJgKALgKQBNhRAig1QAigwAQhgQADgOACgNQAOhrAPhXQAKg3AJgvQAah+AXhiQAWhaAWhMQAihvAxh1QAPglATgmIAvhYA22WcQAFgFACgCQAOgUAEgIQAAgBABAAA22WcQACgDABgBQAMgTABgEQAFgFAFgEA3dW4QAHgJATgJQAJgGAEgEA3dW4QAIgKAXgMQAEgDAEgDAu7ZCQhaAGgpAAQgHgBgGgBQgBAAgBAAQgNgCgNgCQiAgVh2gbQgEgCgFgBQgDgBgDgBQghgHgZgJQhPgcAVglIAAgBQAAAAABgBIACgCAwSXeIgDgCQABAAACABQAAABAAAAQAFAFAAgDAsAZPQgPgBgPgBQhLgFhQgGQgBAAgBAA");
	this.shape_5.setTransform(170.3499,212.072);
	this.shape_6 = new cjs.Shape();
	this.shape_6.graphics.f("#000000").s().p("A1UYWQg0gXANgeIgCgCIAAAAIABgBIACgDQAHgIATgJIANgLIAHgHQAOgUAEgHIABgCQANgLASgKQBDg/AogxQAWgcAOgYQAUgdALg4IAPhNIAQhbIA1j6IAGgbQApi+AjiXIANg2QAchqA3h0IAvhZIACgEQAlhAAyhNQArhCAMgUIAPgVIASgbQAqg6A+hOQBJhdAegkIAcggQAUgWA3hGIBOhlQAPglAKgSQALgTAWgZIAVgZIAqgvIAjgmIAFgFQCJhyBFhaIACgDQAOgbAcgYQAUgSAggYIAQgLIATgMQBJguA6gUIAWgEQBQgJArgMQArgHANgMQAMgMAbgmQAMgOANgKIAjABIADAAIACAAIAEABIAGAAIAAAAIAAAAQAgAAARgEIABAAIAFgCQAggFASgSIAEgEIAHgIQAfACAVAJIALAHQASALAKAjQAUAcAyAHIABAAIABAAIAAAAIAEAAIADAAIAIABIACAAIADAAIADABIAIABIAJABIAGABIADAAIAGABIAOACIBoAPIA4AIIARADIBDANQAXANAWABQAlAXAHAIIAFAjIACATIAWANQASAQgMAQQgDAIgKAKQgHASgeAcIgCACQgcAYgdAfIgoAjIgOAJQg6ARgBAXQgMAHgIAHQgeAVgGAQQACAPghAVQgNAUgYAUQgdAlgYAOIgXAPQgQALgqAXIgQAOIgFAFQgPANgWAMQg3AZgeAWIgRAMIgyATQgrAQgcAHQgRADgfAKIhIAZQgwASgbAPQgpAWgUARQgbAVgVASQghAagWAVQgaAZgOAUQgeAegNAdIgFAFQgUAUgYAoIgKAQIgqA+QgfApgwA1IhPBXIgXAYQgpAugZA6IgRAcQgUAngNAnIgIAYIgVA9IgVA4QgSAwgKAmQgKAkgSA1IgKAeQgOAkgWAyQgdBBghBBQgZAzgpAzIgLAQIALgQQApgzAZgzQAhhBAdhBQAWgyAOgkIAKgeQASg1AKgkQAKgmASgwIAVg4IAVg9IAIgYQANgnAUgnIARgcQAZg6ApguIAXgYIBPhXQAwg1AfgpIAqg+IAKgQQAYgoAUgUIAFgFQANgdAegeQAOgUAagZQAWgVAhgaQAVgSAbgVQAUgRApgWQAbgPAwgSIBIgZQAfgKARgDQAcgHArgQIAygTIgkAZIgyAjQhEAygWAfQgNAIgMAKQgQAMgQASQgWATgiAoQgiAfgqAoQgpAjgqApQghAdgWAXQglAognAeQgcAYgYAjIgHAKQgQAWgTAjQggAjgRAtQgTAlgnA8IgKARQgVAcgaAuQgdAmgTAlQgqBDglA/IgCACQgzBNgQA7IgBACQgXA9gMAYIgBABQgUAugbAvQgeAwgnAlIhCA8IgVATIhIA9IhDA4QgmAggwBBIgKANQhKBVADAUIABABIACADQAHAGAIAEIAPAKQgiAXgkAUIgIAFQgcARgqAmIgIAHQgUASghAYQg0AlhVAvIgFADQhxBGgVAKIABAAIABACQg9gLgkgRgAiPuLIgHALQgQAYgPAcQhaB4gfAgIgiAmIAigmQAfggBah4QAPgcAQgYIAHgLIAGgTIgGATgA1bXGIAIgHIgNALQgTAJgHAIQAIgKAXgLgA1TW/IAAAAgA0iWJIAUgUQBNhSAig1QAigvAQhhIAFgbQAOhqAPhYIAThmQAah+AXhiQAWhZAWhMQAihwAxh1QAPgkATgmQg3B0gcBqIgNA2QgjCXgpC+IgGAbIg1D6IgQBbIgPBNQgLA4gUAdQgOAYgWAcQgoAxhDA/QgSAKgNALQAJgKAOgIgAtmBnIAAAAgAqBkQIAmg5QAcgrBOhgIAvg4QBEhQAhgkIANgOQg3BGgUAWIgcAgQgeAkhJBdQg+BOgqA6IAFgHgAh+u2IAHgLIAMgSIAXgdIAXgbIAogsIAxgzQCEhrAxgyIAzgyQAYgaAzgfQAdgSAjgRQBKglA5gIQAngFAgACIAjABQgNAKgMAOQgbAmgMAMQgNAMgrAHQgrAMhQAJIgWAEQg6AUhJAuIgTAMIgQALQggAYgUASQgcAYgOAbIgCADQhFBaiJByIgFAFIgjAmIALgYgASq1pIAAAAgARy1xIhogPIgOgCIgGgBIgDAAIgGgBIgJgBIgIgBIgDgBIgDAAIgCAAIgIgBIgDAAIgEAAIAAAAIgBAAIgBAAQgygHgUgcQgKgjgSgLIgLgHQgVgJgfgCIAmgqQAOgMARgGQAjgMAkACIAvADQAvAGAUAMIAIAEQAgAQALAlIACAHIAWBFQAFAKAIAHQALASAnALIg4gIgAKu3CIgGAAIgEgBIgCAAIgDAAIgjgBQAWgQAXgGIAOgDQBDgHAngHIABAAIgHAIIgEAEQgSASggAFIgFACIgBAAQgRAEggAAIAAAAIAAAAgAMi3rIAAAAg");
	this.shape_6.setTransform(160.439,208.5107);
	this.shape_7 = new cjs.Shape();
	this.shape_7.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("ASz0lQAHABAHACQAfAFBRAOQAnAHAiAHQA3AMAUAKQAmAXASASQAtAtAFAUQAGAmgIAdIgEANIALAVQAIAWgQAVQgBACgBACQgCAHgFAHQgGAQgaASQgZAPgjASQggARgjAQQg6AZgyAPQgmALgiAJQgdAIgbAIQgWANgVANQgZAQgbAQQgaAQgXANQg+AlgjAXQgMAFgNAHQgSAJgRALQgeAPghAYQgpAWgpAbQgwAbgoAcQgjAWgUATQgdAdgxAdQgcATgeAZQgEADgFAEQgYASgVAXQgxAegQAYQgVAUg9AsQgGAFgHAGQggAWgcAdQgnAegSAaQg1A7gmAvQgBABgBAAQg9BGgOAxQAAABAAABQgZAogTAhQgBABAAABQgSAkgeAxQgbAqgmAlQgfAfghAdQgQApgFAUQgIAdgXA4QgFANgIARQgRAlgVAsQghBAgkA/QgTAhggAhQAAAEABAEQgDAxATALQATAWgBA6QAJA9ALA5QABANACAMQANAoglAlQgEAJgKAIQgPAVgFAJQgBABgBAAQgeAOgEANQgFAcg7AKQgMABgRACQg6AHhpANQgOADgRACQgfAFgkAFQg0AJgqAYQglATgjAMQhFAQg3AHQAiABAJACQggAHgmgKQgIABgIAAQgigBgggBQAEAAAFAAQAtAAAfABQgHgBgIAAQgmgDgogDQhGgFg1gHQhAgHglgJQgHgCgFgBQACAAABABQAaAIAaAIQgegEgYgGQg6gPgCgUIgCgEIAAgBQAAgBACgCQAHgHAZgGQAFgCADgCQAFgEABgDQAHgWgFgFQABgBABgCQAEgFATgJQAKgHAMgHQBRg3AwgqQA3gqAZhGQAFgMAEgMQAZhfAdhQQATgwAQgpQAwhyAghSQAghNAchGQAqhoAohpQAdhMArhSQAEgHAEgIIAuhTQAMgUANgVQASgbARgbQADgFAEgFQAeguAagnQAWghASgbQAPgWAHgMQATgdAWgeQAigvBKhaQAXgdAXgaQAXgcATgVQAnguAUgTQAUgVAdgiQAhgoBJhhQAGgIAHgJQALgiAMgUQADgFAEgGQAIgUAPgUQAEgGADgGQAHgIAGgIQAMgOAMgPQANgOALgMIAngtQAbgZAZgXQCMhyAngsQAXgaAegYQAdgZAwgcQAggSAhgPQBMgiA5gDQAogBAgABQApACAcAAQAwAAAQgIQACgBACgCQAVgJAWgdQACgCACgCQATgVAfgWQARgIASgCQAngGAgADQAdACASADQAtAHAUAUQADACACADQAXAUAGAsQABAEAAAEQADALAFALQAJAVAQATQAIAHAKAFQAJAKAzALQAHANgEASQAAACAAABQgIAYgOAsQgJAfAJAOQACAFAFAEQgZAJBFAYQAEAGAIAFQALAPAOAMQAYAOgLAQQAIAWgCAUQAMAtgPARQgKALgFAIQgMAVgZAaQABAIABAIQAAAEAAADQgEAQgWAPQgSAKgSALQgkAKghALQgnAMgfALQg2AUgaAQQgcARgmAVQggASg4AZQgkAQggANQgxAUgRAFQggAJgqAMQgSAGgdAJQgkAMgiAOQgyAUgXAPQglAYgXATQgaAVgVARQghAcgVAWQgaAbgKAVQgbAYgSAhQgDADgCADQgRAVgZApQgEAHgFAJQgSAagbAiQgiAogxAxQglAjgvAuQgMAMgNAMQghAkgQBPQgGARgEAOQgNAwgIAhQgDAOgDAJQgIAXgPAmQgJAYgNAfQgFANgEALQgJAIgIAHQgaAWgoAjQgYAVglAeQgeAdgcBLQgDAHgDAHQgoBVgBAbQAAABAAABQAAACAAABQADAIADAFQAMAbAIA0QgOANgQANQgnAlgwAhQgWARgQANQgXASgKALQgbAeAGARQAGAqguAVQglAghdAdQgLAFgMAEQgkARgwARQgFACgFADQghAQglAjQgEAEgEADQgXAVgeAUQg4AjhbAfQgCAAgCABQhdAngxAIQgFABgFABIABAAQgBABgBAAQgZgCgWgDQALADALADQAMAEAMAEQAXAGB4AAQhXgDhOgKQgBAAgBgBQgDAAgDAAQgigFgbgGQhSgSALgaAjHsRQBLhGBThvQABgBAAgCQALghASgUQAOgSAcgbQAHgGAHgGQAIgHAIgGQA6gvAzgjQAKgFAJgDQBAgZApgWQAggMAQgPQARgPAWgcQAjgjAYgMQAGgEAHgEQAugRAugUQAbgGAXgCQAGAAAFABQAZgDATAMQAeAGArAAQAVgDApAFQAwAFAwAEQAiADAYACQA3AEAMgEQABAAABgBQASACAZgVQAegCATgBIAAAAQALAFANAJQAIAGAGAFQALADALAEQAVAJADAIQAIAGAAAGQAHAFAEAHAmdoQQAOgTARgVQARgeAMgSQAOgTASgUQALgNAJgKQAtg0AagaQACgCACgCQANgMAOgNArIiGQAjgxAmgzQBFhdAWgeQALgQAOgQQAegnBQhkAsHgnQAIgNAGgKQALgSAPgWQALgQAMgQAtDA4QALgSAMgTQAVghAQgZA3/VtQAKgIAdgLQBNguA1gpQAagWATgUQAfgeAQguQAMgkAMgmQAPguAQgqQA+iNAmheQAFgNAGgNQBJiwAriZQAHgbAJgaQAihoA9h1A4JWSQADgDABgDQAEgVgEgEQABgCAFgEA4xWjQAHgGAXgFQAGgDAEgDAyVXtQgCAAgCABQgGAAgGAAQgBAAgCgBQgEAAgEAAQgCAAgBAAQARAAANAAgA08WzQACAAACABIAAABg");
	this.shape_7.setTransform(180.6727,218.0755);
	this.shape_8 = new cjs.Shape();
	this.shape_8.graphics.f("#000000").s().p("A3rXWIgMgDIADABIA0AQQgegEgYgGQg6gOgCgUIgCgEIAAgBIACgDQAGgHAYgEIAJgHQAEgDABgCQAEgWgEgDQABgDAFgDIgCACQACACAAAFQAAAHgEANQgCADgFAEQAFgEACgDQAEgNAAgHQAAgFgCgCIACgCQAKgIAdgMQBNguA1gpQAagWATgUQAfgeAQguIAYhKQAPgtAQgrQA+iNAmhdIALgaQBJixAriZIAQg1QAihnA9h2IAuhSIAZgqIAjg1IAHgLIA4hUQAjgyAmgyIBbh7IAZghIBuiLQAnguAUgTQAUgUAdgjQAhgoBJhgIANgRQALgiAMgVIAHgKQAIgUAPgVIAHgLIANgRIAYgcIAYgbIAngsIA0gwQCMhyAngsQAXgbAegXQAdgZAwgcQAggTAhgPQBMgiA5gCQAogCAgACQApACAcgBQAwAAAQgHIAEgEQAVgJAWgcIAEgFQATgUAfgWQARgIASgDQAngFAgACQAdACASADQAtAIAUATIAFAGQAXATAGAtIABAHQADALAEALIgwAEIgCABQgTAQgQABIgDAAIAAAAIgCAAIgBAAIgCACQgMADg3gDIg6gFIhggJIgCgBIgBAAIgCAAIgcgCIgBgBIgIAAIgBAAIAAAAIgTACIAAAAQgrgBgegFIAAgBIgDgBIAAAAQgOgIgSAAIAAAAIgBAAIgDAAIgBAAIgBAAIgDAAIgLgBQgXADgbAFQguAVguARIgNAHQgYANgjAjQgWAbgRAQQgQAOggANQgpAWhAAYIgTAJQgzAig6AwIgQANIgOAMQgcAagOATQgSAUgLAhIgBADIgGAHQhQBqhIBEQBIhEBQhqIAGgHIABgDQALghASgUQAOgTAcgaIAOgMIAQgNQA6gwAzgiIATgJQBAgYApgWQAggNAQgOQARgQAWgbQAjgjAYgNIANgHQAugRAugVQAbgFAXgDIALABIADAAIABAAIABAAIADAAIABAAIAAAAQASAAAOAIIAAAAIADABIAAABQAeAFArABIAAAAIATgCIAAAAIABAAIAIAAIABABIAcACIACAAIABAAIACABIBgAJIA6AFQA3ADAMgDIACgCIABAAIACAAIAAAAIADAAQAQgBATgQIACgBIAwgEQAKAVAQATQAIAHAKAGQAJAJAzALIAOADIBwAUIBJAOQA3AMAUAKQAmAXASASQAtAsAFAUQAGAmgIAdIgEAOIALAVQAIAVgQAVIgCAEQgCAHgFAHQgGARgaARQgZAQgjASQggARgjAPQg6AagyAPIhIAUIg4APIAkgVQAWgPAEgQIAAgGIgCgQQAZgaAMgVQAFgJAKgLQAIgJAAgSQABgOgGgUIABgJQAAgQgHgSQAEgFAAgFQAAgKgRgJQgOgNgLgOQgIgGgEgFQgzgSAAgKQAAgDAHgCQgFgEgCgFQgFgIAAgLQAAgLAFgPIAWhFIAAgCIABgOQAAgKgEgIQAEAIAAAKIgBAOIAAACIgWBFQgFAPAAALQAAALAFAIQACAFAFAEQgHACAAADQAAAKAzASQAEAFAIAGQALAOAOANQARAJAAAKQAAAFgEAFQAHASAAAQIgBAJQAGAUgBAOQAAASgIAJQgKALgFAJQgMAVgZAaIACAQIAAAGQgEAQgWAPIgkAVIhFAVQgnAMgfAMQg2ATgaARQgcAQgmAVQggASg4AZIhEAeQgxATgRAFIhKAWIgvAPQgkAMgiANQgyAUgXAQQglAXgXATIgvAnQghAbgVAWQgaAbgKAVQgbAYgSAiIgFAFQgRAVgZAqIgJAPQgSAbgbAiQgiAogxAxIhUBQIgZAYQghAlgQBPIgKAeIgVBSIgGAXIgXA9IgWA3IgKAYIgQAOIhCA5Ig9AzQgeAdgcBLIgGAPQgoBUgBAcIAAABIAAADQADAJADAEQAMAbAHA0QgNANgQAOQgnAkgwAiQgWAQgQAOQgXASgKALQgbAdAGASQAGApguAWQglAfhdAeIgXAIQgkASgwARIgKAEQghAQglAjIgIAIQgXAVgeAUQg4AihbAfIgEACQhdAmgxAJQhAgIglgJgA05XCIAAgCIgEgBgAstAgIgXAlIAXglIAlg6IglA6gAkGHCIAWg3IAXg9IAGgXIAVhSIAKgeQAQhPAhglIAZgYIBUhQQAxgxAigoQAbgiASgbIAJgPQAZgqARgVIAFgFQASgiAbgYQAKgVAagbQAVgWAhgbIAvgnQAXgTAlgXQAXgQAygUQAigNAkgMIAvgPIBKgWQARgFAxgTIBEgeQA4gZAggSQAmgVAcgQQAagRA2gTQAfgMAngMIBFgVIgrAaIg0AgIgxAeQg+AlgjAWIgZAMQgSAJgRALQgeAPghAZQgpAWgpAbQgwAagoAcQgjAXgUASQgdAdgxAdQgcATgeAZIgJAIQgYASgVAWQgxAfgQAXQgVAVg9ArIgNAMQggAVgcAeQgnAdgSAbQg1A5gmAxIgCABQg9BGgOAxIAAABQgZAogTAiIgBACQgSAjgeAyQgbApgmAmQgfAfgiAdIAKgYgAqhi1IAWgiQATgeAWgdQAigwBKhaIAug3IAqgxIhuCLIgZAhIhbB7QgmAygjAyIAog8gAmeoEIAAAAgASXsjIAAAAg");
	this.shape_8.setTransform(180.7833,216.8359);
	this.shape_9 = new cjs.Shape();
	this.shape_9.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("A5kV+QgiAAgDAHQgFAPBaAIQByALCogaQBggPA8ggQAhgSAcgdQAlgmAtgNQA5gMAjgKQCJgaAogLQA/gQgTgqQgKgXAigVQATgLBIgdQCfhAAvhGQBAhgA1hpQAphTAHgcQADgNAehFQAihQAMgjQAIgWAJh2QAHhkAagbQBCg5AvgqQBchPAthAQAhg3APgYQAbgrAagUQAKgnBKg/QAoghBBgzQAcgaBvgnQBggiAbgDQAUgCBygxQB6g1AigbQAhgbBzglQBTgbBxgdQBPgUBigwQBXgrAkgfQAbgWgQgXIgVgTIAYhUQAHgZhnhcQgUgSh8gWQi1gfgKgDQg6gNgJgyQgBg6gNgYQgRghgygLQgegHhYgEQg6gDgoAuQgfAygHAIQgLALg0ABQgvABhegGQhQgFh4BBQhpA4gfArQgiAtjGCgIhWBjQgLALgMAPQgZAegJASQgJASgIAoQiKC5geAbQgeAah1CMQh8CVgcAxQgUAjiNDKQiODeg4CqQg0CbhpCkQg6BahoCaQgrBJgkBTQggA3hXAsQg/AghYAdQg6AUAIABQAOADgBAYQAAAGgBAEQgFAAgFAAIAAgBQgBAAALABQgDANgHgNg");
	this.shape_9.setTransform(191.1629,225.3043);
	this.shape_10 = new cjs.Shape();
	this.shape_10.graphics.f("#000000").s().p("A40WcQhagIAFgPQADgHAiAAIAKAAQgDANgHgNQAHANADgNIABgKQABgYgOgDQgIgBA6gUQBYgdA/ggQBXgsAgg3QAkhTArhJQBoiaA6haQBpikA0ibQA4iqCOjeQCNjKAUgjQAcgxB8iVQB1iMAegaQAegbCKi5QAIgoAJgSQAJgSAZgeIAXgaIBWhjQDGigAigtQAfgrBpg4QB4hBBQAFQBeAGAvgBQA0gBALgLQAHgIAfgyQAoguA6ADQBYAEAeAHQAyALARAhQANAYABA6QAJAyA6ANQAKADC1AfQB8AWAUASQBnBcgHAZIgYBUIAVATQAQAXgbAWQgkAfhXArQhiAwhPAUQhxAdhTAbQhzAlghAbQgiAbh6A1QhyAxgUACQgbADhgAiQhvAngcAaQhBAzgoAhQhKA/gKAnQgaAUgbArIgwBPQgtBAhcBPIhxBjQgaAbgHBkQgJB2gIAWQgMAjgiBQQgeBFgDANQgHAcgpBTQg1BphABgQgvBGifBAQhIAdgTALQgiAVAKAXQATAqg/AQQgoALiJAaQgjAKg5AMQgtANglAmQgcAdghASQg8AghgAPQh2AThbAAQgnAAgigEg");
	this.shape_10.setTransform(191.1629,225.3043);
	this.shape_11 = new cjs.Shape();
	this.shape_11.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("AWBwwQACAAADABQAcAFCCAXQAPADAPACQADABADAAAWBwwQADAAADABQAbAFCCAXQAQADAPACQACABADAAIBtAdQABABACAAQAOAIAIAIQAAAAABAAIBOBXQACAEABADQAAAEABACIAAAPQgBAEAAACIgCAHIgOAuIgBAEIAHAWQAAABAAAAAcduIQACAFABADQAAADABACAUrypIAFAnQABAFAAAEIACAIQACAHACAHQAFALAHAJIAhAXQABAAABAAQAAABABAAQAAAAAAAAIAaAHAUly8QACAEABAEQACAFABAGAUly8QACAEABAEQACAFABAGAT4znIAIAEQAPAIAJALQABAAAAABIAMATAQgzkIAMgIQATgKAWgDQACAAADAAIAAAAQARgBAQABQA6ADAcAEIAUAEQAGACAFABQAEACAEACATlzuQAGACAFABQAEACAEACAUzxxQACAHACAHQAEALAIAJAUMoRIhjAoQgIAFgGAEQgKAGgLAHQgkAZhiArQgFADgGACIgCABQgEACgEACQgGACgGADIgKAEQhFAcgWAGIgMAEQgGABgGABQgEABgEABIhQAZQgFACgFABQgLAEgLAEQgIADgHACASpnpQgIAFgGAEQgKAHgLAHQgkAZhhAqQgGADgGACAXppRQgHACgGABQhgAZhLAYQgDABgDABAXppRQgHABgGACQhgAZhLAYQgDABgDABIgJADQgFABgEACQgHACgGACAUioYQgFABgEACQgHACgGACAchtsQgBADAAADIgCAHAcQsxIgBAEIAAAAIAAAAIAHAXQAAAAAAAAQAKAMACALQACAKgGAKQgEAGgGAFAcGrTIgOAJQgPAKgTALIgiASQgHAEgGADQgNAGgMAGQgJAEgJAEIhqArQgOAFgOADQgHACgGACAcNrZQgBABgCACQgCABgCACAcNrZQgBABgCABQgCACgCACAcir/QACAKgGAKQgEAGgGAFIgHAHAa0qjQgGAEgHADQgNAGgNAGQgIAFgJADAYSpdQgOAEgOAEQgHACgGACAB/q2IAKgMQAFgGAFgGIA/hHQAOgNANgMQAAAAAAgBQADgCADgDIBUhFQADgCADgCQBShGAcggQAMgOAMgMQAggiBLgrIAUgKQAGgDAGgDQAFgDAGgDICRgtQADAAACAAQADAAADgBQAGAAAFAAQAMAAALABIAAAAQBEADAoAAQAAAAABAAQASAAANgBIABAAQACAAACAAIATgDQAEgBAEgCQAOgEALgQQADgDADgFQAFgHAIgNQAFgGAGgHQAFgGAGgHQAFgFAGgEADtsuQADgDADgDABRp5QAEgGAEgGQAFgIAHgKQAKgOAMgNQACgCACgCABRp5QAEgGAEgHQAFgHAGgKQALgOAMgNQABgBABgBQABgBABgBAA5o+IAJgQIAEgOQABgEABgEQACgEABgFABGpcQABgEABgEQACgEABgFIAGgMAAhoWQAIgLAJgLQADgJAEgJAAhoWQAIgLAIgLQAEgJAEgJAkbjaIAWgWQBNhNA1gyQASgRANgLQABgBACgBQABgBABgBQABgBACgBQABgBABgBIB7iDAPLyOQAFgBADgCQAOgEALgPQADgDADgGQAFgIAIgMQAFgGAGgHQAFgGAGgGQAFgFAGgFAJSxUQAFgDAGgDQAGgDAGgDArnD/IAHgGQAHgKAMgTQAAgBAAAAQABgBAAAAQABgBAAAAQAAgBABAAQAAgBAAAAIAwg9QALgLANgNQBAhIBHg9QALgMAKgKIAjgjQAIgHAHgGQAGgGAHgHIBphiQALgLALgLQAHgGAGgGAqaCaQALgMAMgMQBBhIBHg+QALgLAKgKAr/ETQAIgHAGgHQAGgDAEgDAr/ETQAHgHAHgHQAGgDAEgDAxqKmIA+g+QAGgGAGgGQAAAAAAAAQBOhRA9hPQARgXATgYQABgBABgBIBwh4A21QKQAAAAAAgBQAkgrAqgsQAIgKAJgJA4qRdIBLgwQAWgQAUgTQAkgsAqgtQAIgJAJgJIARgTQAAAAABgBQBaheBHhLQAAAAABgBQABgBACgCIAVgWQAGgHAHgHQAKgKAJgKA73S4QgDgCgDgBQgIgCA5gTQAIgDAIgCIByguQAKgFAKgFQAGgDAGgDA73S4QgDgCgDgBQgFgDA1gSQAJgCAIgDA76TYQAIgDABgFIAAgBIgGgXA77TYQAAAAABAAQACABAGAAIgFAAIgEAAIgBAAIAAAAQgBAAACgBQAKgIAAgBA78TZQAAAAABAAQAAAAABgBA78TZQAAAAAAAAQAAAAABgBA78TZQACAAADAAA6oT6QgSAAgQgCQgCAAgDgBIAAAAQgBAAgBAAQgcgCgSgEIgcgIQgFgDAAgDIAAgBIgBgCQADgHAiAAA7yTZQgDANgHgNA8bTpQgFgDAAgEA2yTpQgCAAgBAAQgDABgDAAIhGAJIinAHQgRAAgQgCQgDAAgDgBA2yTpQgCAAgCAAQgCABgDAAA2pToQgDAAgCAAQgCABgCAAA2pToQgDAAgCAAQgCABgCAAA03TJIhrAdIgHACA5KRtQAKgFAKgFQAGgDAGgDAtHPyIgBACQgCADgCACQgEAGgIAFIgFADIgSAJQgKAEgNACQgLADgNADIhyAfQgKACgKADQgDABgDABQgDABgEABQgcAJgzAMQgDAAgDABIgBAAQgCABgCAAQgFACgGACIg/AoQgBAAAAAAQgDADgDADIgoAhQgHAFgHAEQgEACgDACQgOAIgQAGAtIP0QgCADgCACQgEAGgIAFAtvQQQgKAEgNADQgMACgMADAqwO4QgFACgGACQgGADgHACQggANg3ALQgdAMgLANAqwO4QgFADgFABQgHADgHACQggANg2ALQgeAMgLANAn2NfIhFAnQgWAMgaALIhFAbAyKLIQAGgHAHgHQAKgKAJgKAwQQ7QgKADgLADQgCABgDAAQgDABgDABQgcAJg0AMQgDAAgDABAyHRaQgCABgCAAQgGACgFACA0ESuQgHAFgHAEQgEACgEACQgNAHgQAHAPzmJQgFACgEACQgFACgGADANulWQgGABgFABQgEABgFABAMKk5QgFACgFABQgLAEgLAEQgHADgIACIgmAPQgvAUgUAPQgEADgEACIgCACQgEADgEADQg0ApgjAeQgGAFgFAEQgDADgCABQgMALgKAJIgrAyIgEAIQgCAFgCADQgFAHgEAGQgBACgBABQgMALgLAOQgEAGgEAGQgEAGgEAFIgEAHQgEAFgDAFQgPAagKAPQgLARgNATQgcAkgmAeQgLAJgKAHIgvAoQgBABgBAAQAAABAAAAQgEADgEAEQAAAAAAAAIgoAiQgHAGgHAFQgGAFgHAFIgnAaQgHAFgIAEQgGAEgFAFQAAAAAAAAQgdAXgSAlQgEAGgEAGQgEAGgDAGQgiBLgnAfQgBACgCACQgHAHgPAJQgeASgZAaQgCABgBACQglAmgZAMQgIAGgJAHIhoBhQgHAGgHAGQg4Azg5AuQgKAHgKAGAH+iaQgDADgCACQgMAKgKAJAJojwQgEADgDADQg1AqgkAdQgFAFgFAEAG0hIQgCAEgCAEQgFAHgEAGQgBACgBACQgMAKgLAOQgEAFgEAGQgEAGgEAGAF6AHQgEAFgDAGQgPAZgJAOQgMASgNATQgcAkglAeQgMAJgKAHAk+i4QALgKALgLQAHgGAGgHAnDg8QAIgHAHgHQAGgFAHgHAhcIGQgHAHgOAIQgfASgZAZQgCACgCADQglAmgYAMQgIAGgJAHACKEDQgHAGgGAFQgHAFgHAFABIEyQgIAEgIAFQgFAEgFAFQgdAWgSAlQgEAGgEAHQgEAGgDAGQgiBKgmAgQgBAAAAABQgBABgCACAljLlQgHAGgHAGQg4Ayg5AvQgKAHgKAG");
	this.shape_11.setTransform(214.3827,237.6007);
	this.shape_12 = new cjs.Shape();
	this.shape_12.graphics.f("#000000").s().p("A7KT4IgFAAIgBAAIgBgBQgcgCgSgEIgcgIQgFgDgBgEQABAEAFADQgFgDgBgDIAAgBIAAgCQACgGAigBQAIANACgNIgIgBQAJgDAAgFIAAgBIgGgXQgCgCgDgBQgFgDA1gSIARgFIBxguIAVgKIAMgGIBKgwQAXgQATgTIABgBQAkgrApgsIASgTIARgTIAAgBICiipIAAgBIADgDIAWgWIANgOIATgUIA9g+IAMgLIABgBQBNhRA9hPIAkguIADgDIBwh4IAOgNIAKgHIAGgGQAIgJALgUIABgBIABgBIABgBIAAgBIABgBIAwg9IAXgYQBAhIBIg9IAVgWIAjgjIAOgNIAOgMIBphjIAWgVIANgNIAVgVQBNhOA2gxIAfgdIACgCIADgCIACgCIADgCIB7iDIAQgWIAIgRIAIgQIAEgPIADgIIADgJIgDAJIgDAIIADgIIADgJIAGgMIAHgMIAMgRQAKgOANgOIABgBIADgDIAJgMIALgLIA/hHIAagaIABAAIAGgGIBUhEIAFgFQBShGAdggIAXgaQAggiBMgrIATgKIAMgGIALgGICSgtIAEAAIAHAAIALgBIAWABIABAAQBDAEAogBIACAAIAfgBIAAAAIAEAAIATgDIAJgCQAOgFALgPIAGgJIANgUIAKgMIALgNIAMgKIAMgIQATgKAWgDIAEAAIABAAQAQgBAQABQA6ADAdAEIAUAEIALAEIAIADIgJgDIgKgEIAKAEIAJADIAIAEQAOAIAKALIABABIAMATIADAJIADAKIAFAnIABAJIACAIIADAPQAFAKAIAJIAhAXIACAAIAAABIABAAIAZAHIAGABICeAdIAeAEIAGABIBtAdIACACQAPAHAIAIIAAAAIBOBXIADAIIABAFIABAPIgCAGIgCAIIgNAuIgBADIAAAAIAAAAIABgDIgBADIAAAAIAGAXIABABQAJALADALIAAAEQAAAIgFAIQgDAGgGAGQAGgGADgGQAFgIAAgIIAAgEQACAKgHAKQgDAGgGAGIgHAGIgDADIgFADIgNAJIgiAVIgiASIgOAHIgZAMIgRAIIhqArIgcAIIgNAEIgNADQhhAZhLAYIgGACIAGgCQBLgYBhgZIANgDIgOAEQhgAZhKAXIgHACIgIADIgKADIgNAFIANgFIAKgDIgJADIgOAFIhiAnIgPAJIgUAOQgkAYhiArIgLAGIgDABIgIADIgLAFIgKAEQhFAcgWAGIgMAEIgMADIgIABIhQAZIgLAEIgVAHIgPAFIgmAPQgvAUgVAPIgHAGIgDABIgHAGQg1AqgjAdIgLAJIgFAFIgVATIgrAyIgEAIIgEAIIgJANIgDADQgLALgLAOIgJALIgHAMIAHgMIAJgLIgJAMIgHALIgFAHIgHAKIgYApIgZAkQgcAkglAeIgVAQIAVgQQAlgeAcgkIAZgkIAYgpIAHgKIgHALIgYAoIgZAlQgcAjglAeIgVAQIgvAoIgCACIgBAAIgHAHIgBABIgnAhIgOALIgNAKIgnAaIgQAKIgKAIQgdAXgTAkIgHANIgIAMQghBLgnAfIgDAEQgHAHgPAJQgeARgZAaIgEAEQglAmgZANIgQAMIhpBhIgOAMQg4Ayg5AvIgTANIhFAnIgwAXIhFAbIgLAFIgNAEQggANg3ALQgeAMgKAOIgBABIgEAFQgFAGgHAFIgFADIgSAJIgXAHIgYAFIhyAfIgVAFIgFADIAFgDIAVgFIgVAGIgFACIgHABQgcAJg0AMIgFABIgBAAIgFABIgKAEIhAAoIAAAAIgGAGIgoAhIgOAJIgIAEIgdAOIhrAdIgIACIgFAAIgDABIgEAAIgFABIhGAJIinAHIgigCgAB7qxQgMANgLAOIgMARIgHAMIAHgMIAMgRQALgOAMgNIAEgFIgEAFgADssuIAHgGIgHAGgA22TpIAEAAIgEAAIgFABIAFgBgA2yTpIAAAAgA79TZIAGAAIAEAAQgBAHgCAAQgDAAgEgHgA7zTZIAAAAgAjrJ4QAZgNAlgmIAEgEQAZgaAegRQAPgJAHgHQgHAHgPAJQgfASgZAaIgDADQglAmgYANIgRAMIAQgMgAhZICQAngfAhhLIAIgMIgIANQghBJgnAgIgBABIgCADIADgEgAA4E8IAQgKIgQAKIgKAIIAKgIgAGkgwIADgDIgDAEQgLAKgLAOQALgOALgLgAm1hKIAOgLIgOAMIgOANIAOgOgAmnhVIAAAAgAkojNIANgNIgNANIgWAVIAWgVgAAxosIAIgRIgIARIgQAWIAQgWgAA5o9IAAAAgAcftmIACgGIgCAHIgCAHgAcfuAIgDgIIADAIIABAFIgBgFgAJdxaIALgGIgLAGIgMAGIAMgGgAJoxgIAAAAg");
	this.shape_12.setTransform(214.4235,237.6);
	this.shape_13 = new cjs.Shape();
	this.shape_13.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("A+YQ1QgiAAgDAHQgFAPBaAIQByALCogaQBggPA8ggQAhgSAcgdQAigiAygMQBHgRATgKQBYgrCGgSQChgVAEgBQC4g3DJhYQCSg/CHgWQAfgFAwgFQAggDAGgEQBVgwBFgnQAggTArgTQBAgdAXgPQAegSAggiQAKgKBAgoQA1ggArg/QADgDAmhCQATghAagUQAJgnBLg/QAnggBBgzQAdgaBvgnQBggiAagDQAUgCBygxQB7g1AhgbQAigbByglQBUgbBwgdQBPgUBigwQBYgrAkgfQAagWgQgXIgVgTIAZhUQAHgZhnhcQgUgSh8gWQi2gfgJgDQg6gNgKgyQgBg6gNgYQgRghgxgLQgfgHhXgEQg7gDgnAuQggAygHAIQgKALg1ABQguABhfgGQhQgFh4BBQhoA4ggArQghAtjGCgIhYBjQgKALgNAPQgZAegJASQgIASgJAoQgZAhikCIQhTBFhgBOQiEBWh0BLQjlCVgZArQgOAYgGAEQgCABgUADQg0AIh1BSQhuBNiCBLQhpA9g5AtQhtBVh+BWQiOBfhiAyQg/AghYAdQg6AUAIABQAOADgBAYIgBAKQgDANgHgNgA+OQ1QgFgBgFABIAAgBQgBgBALACg");
	this.shape_13.setTransform(237.9879,249.8543);
	this.shape_14 = new cjs.Shape();
	this.shape_14.graphics.f("#000000").s().p("A9oRTQhagIAFgPQADgHAiAAIAKAAQgDANgHgNQAHANADgNIABgKQABgYgOgDQgIgBA6gUQBYgdA/ggQBigyCOhfQB+hWBthVQA5gtBpg9QCChLBuhNQB1hSA0gIIAWgEQAGgEAOgYQAZgrDliVID4ihICziTQCkiIAZghQAJgoAIgSQAJgSAZgeIAXgaIBYhjQDGigAhgtQAggrBog4QB4hBBQAFQBfAGAugBQA1gBAKgLQAHgIAggyQAnguA7ADQBXAEAfAHQAxALARAhQANAYABA6QAKAyA6ANQAJADC2AfQB8AWAUASQBnBcgHAZIgZBUIAVATQAQAXgaAWQgkAfhYArQhiAwhPAUQhwAdhUAbQhyAlgiAbQghAbh7A1QhyAxgUACQgaADhgAiQhvAngdAaQhBAzgnAgQhLA/gJAnQgaAUgTAhIgpBFQgrA/g1AgQhAAogKAKQggAigeASQgXAPhAAdQgrATggATIiaBXQgGAEggADQgwAFgfAFQiHAWiSA/QjJBYi4A3IilAWQiGAShYArQgTAKhHARQgyAMgiAiQgcAdghASQg8AghgAPQh2AThcAAQgmAAgigEg");
	this.shape_14.setTransform(237.9879,249.8543);
	this.shape_15 = new cjs.Shape();
	this.shape_15.graphics.f().s("rgba(128,128,128,0.502)").ss(1.9,0,0,4).p("AKlqUQAFgEAFgEQA3gpAZgXQAbgYAYgTQAegaA8geQAYgMAagKQAQgHAPgFAKlqUQAGgEAFgFQA1goAZgWQAcgZAZgUQAegaA6gcQAZgNAcgLQAPgGAOgFQAsgQAkgFQAagEAWAAQABAAABAAQAUABASACQAGABAFABIAcADQAoAFAcABQACABACAAIALAAQAGAAAGAAQABAAAAAAQAYAAAMgDQACAAACgBQACAAABgBQAHgDAHgIQAIgKAVgdQABAAAAgBQAFgFAFgFQAAAAAAgBQAkggAuAAQAFAAAGABIAAAAQACAAACAAQACABACAAQA6AHAfAGQALACAIACQADABAEABQAGADAGACIAWAMQAOAKAHAOQAEAGADAIQADALACARIACAxQAAAEABADQAJAlAoARQAEACAIADIADABQAFACAGABQAGACAKADAUwtuQACAAABgBQACAAACgBQAHgCAGgIQAJgKAWgfARft6QAVABASACQAFABAFABATwtsQAAAAABAAQACABABAAAYru/QALACAHACQAFABADABQAHADAFACAZnuoQAOAKAIAOQADAGADAHQAEAMABARAaKs1QAAAEABAEQAJAkAoARQAEACAIADAd5rHIAQAEQAHACAHACQAHACAHACIAjAKQAiALAQAIQABABAAAAQAIAFAGAEIAPAMQAGAFAEAEQALAMAIALIAXAdQALAPADAJQALAagJAbQgBADgBADQgDAHgDAHIAGAXQABAHgBAHIgDAMIgCAFQgEAHgGAGQAAACAAACQgBAGgCAHQgDARgcARQgMAHgPAIQgKAEgKAFQgLAFgKAEIgtASQgLAFgMAEQgsAQgnAKQgOAEgOADIg2AMQgNADgNACQgrAJgnAJQhKAQgwAQQgFACgEACAdorLQAFABAEABQAEABAEABAdorLQAEABAFABQAEACAEAAAbLryQAGACAGABQAGACAJADICCAfEAgYgKIQAFAFAEAEQALAMAJALAf6qeQAIAFAHAFAeJrDQAGACAHACQAIACAHACEAhcgH+QgBACgBACQgDAIgDAJIAGAXQABAHgBAGEAhVgG0QgEAHgGAGIAAAAQAAABAAAAQAAABAAACQgCAHgCAHQgDAQgcARQgMAHgOAIQgJAEgKAFQgLAFgLAEAe4lBQgMAFgMAEQgrAPgmAKQgPAEgOAEEAhMgJLQAKAPADAJQAMAagJAbAb8kLQgNADgNACQgsAJgmAJQhLAQgwARQgEABgEACIgHACQgGADgGACQgBABAAAAQgCABgDABIgeAMQgCABgDABQgCABgCABIhBAaQgMAEgMAFQgIAEgJAEQgPAGgPAFIheAiQgFACgGACQgCABgDAAQgDABgEABQgsANg6APQgeAJgQAEQgDABgDAAIhRAZQgHADgGADQgKAEgKAFQgHAEgHACIgWALQgeAOgWAMQgDACgEACQAAAAgBAAQgdAQgQAOQAAAAAAAAQgCACgDACIgaAXQgDACgCADQgKAJgGAJIgBAAQgaASgZAaQgBAAAAAAQgDAEgDADQgBAAAAAAIguA0QgHAIgFAGQgDAEgDAEATnheQgFACgFACQgDABgDAAQgDABgFABQgsANg4APQgfAJgQAEQgDABgDAAAWMicQgLAFgMAEQgIAEgLAFQgPAGgOAEAX6jJQgDACgDABAPlgUQgGADgHADQgKAEgKAFQgHAEgHACAM3BIQgCACgDACAI/pJQAEgEAFgEQACgBADgCAI/pJQAFgEAFgFQACgBACgBIBYhAAxcGhQBIglBQglQABgBABAAQAegOAfgMQBTgjBfgSQAOgDAMgCIATgEQAHgCAGgBQACAAABgBQAYgGAUgOQAVgMAjgUQAhgOAjgTICDhIQADgCADgCQAGgDAGgDIBUgxQAKgGAJgGQAqgcBggtQAegQAhgRQBYgtA4giQABAAABgBAvCFWQAdgOAegLQBVgjBhgTQANgDALgCEggQAOWIAEgCQANgFAZgIQABAAACgBIB9grQASgIAQgHQANgFAMgFIBBgfIAPgJQAEgCADgCQADgBACgCIAFgDQAKgFALgHQArgaBDgqQABAAACgBIAugeQAJgFAJgGQAHgEAGgFIBZg5QAugeAngaQABAAABgBQASgLATgKQAGgEAHgEIBjgxQABAAABgBQAZgMAagNIAbgOQACgBACgCQABAAABgBA9mNbQATgIARgHQAMgFALgFEggwAOyQAUgGAhgKQBmgeAogVQAUgKBag2QALgGAKgGQAdgSAYgNQAcgPAUgKQAVgJAagNQgZANgUAJQgsAVhOAvQhaA2gVALQgoAUhmAfQhMAXgGADIgBAAQgBgBAUgGQABAAABgBIACAAQADgBADgCQAKgDACgDQAJgOAEgFQACgBAFgCA7bMaQADgBACgCQAEgBADgDA5FOnQg/AGhUAEQhQAEgDABQgaAFh/AEQhHABgjgCIgfgBIABAAA7pPDIhRAGQgTABgUABQAAAAgBAAQhCAEg0gBQgYAAgUgBQgBABgBgBQgCAAgCAAQAAAAgCAAQgHAAgIgBQgEAAgEAAIg3gHQgEgCgBgCIAAAAQAAgEAlgHQADgBAEgCQAJgDACgDQAJgOAEgFQADgBAIgDA7QPAQgGABgGAAQgGABgHABA7QPAQgHABgGAAQgGABgGABA45OkQg5AFhKAEQgQABgQABQhQAEgDAAIkdAKEggzAOzQACAAABgBEgg2AO1QACgBABgBAzrJqQBmgWBQgkQARgIBjgfQBdgdAKgHQAFgDAvgPQAxgSAOgOQATgTATgUQAIgUAFgHQAJgOAYgTQAZgWAZgWQAAAAABAAQgYAWgZAWQgZATgJAOQgEAHgIAUQgTAUgTATQgPAPgwARQgvAPgFADQgKAHhdAdQhkAfgRAIQhPAkhmAVQgBABgBAAgAxiGlQADgCADgCAx/M+QgDAAgDABQgDAAgCABIiZAcQgHACgGABQghAGg9AKQgFABgFABIgRADQgDABgEAAQgEABgDABIgmALQgIADgIAEQglAOgbAJQgDACgEABQgCAAgCABQgIACgEABQAAABgBgBIAAAAQgJAEgMADIh2ASAx/M+QgDAAgDABQgCAAgDABAxgM8IgfACAuANGQgPgBgRgCQgIgBgWgBQg8gIhKACQgPAAgNABAuANGQgPgBgSgCQgHgCgWAAQAAAAgBAAQg8gIhIADQgPgBgOABA1HIbQATgLATgLQAGgDAGgEA4WKhQAIgFAIgFQAIgFAHgFA0jNcQgGACgGABQghAGg9AKQgGABgFABA2pN0QgEABgDAAQgEABgDABA3dOCQgJADgIAEQglAOgaAJQgDABgDABQgDABgDABQgIACgEABA44OkQgBAAAAAAA5EOnQgKAEgMADAHdnzQAHgGAGgGIAKgKIAKgKQAGgEAFgFIA2gtAHdnzQAGgFAGgGIALgLIAMgLQAEgDAFgFAGMmMQABAAAAgBQAMgVAJgMQACgEACgDQAEgFADgEQACgCACgDAF7l4QAIgJAJgKQAAgBAAAAQAOgYAIgMQACgDACgCQADgEADgDQACgDADgEIAsgwAFnleQABgCACgCQACgCABgDIAOgRQAIgKAJgKAFnleQABgBABgCQACgDACgDACHi1QAEgCADgDQAZgUA+gcQBNgtAYgXQADgFACgEQAMgXAMgQACHi1QAFgDADgDQAZgUA+gcQBKgsAYgWQAFgGADgGQALgWAMgPAkFAiQAJgFAJgGQAqgcBjguQAdgQAfgQQBbguA4gjQANgGAKgHIAHgEACxGRQANgcAFgLQAAgBAAgCQAAABAAAAQgFAMgNAcQAAABAAAAQAIAMAAAJQgBgIgHgMQAAAAAAgBgAJ4EKQgCAEgCADQgBAAAAAAQgZAWgZAcQgbAggXAUQgEAFgDADQgBABgBAAQg4AxgkAaIgFAFQgDACgDACQgBAAAAAAQgCACgDABQgsAcgpARQgiAWgmAQQgKAEgLAEQgiAMgnAPQguAQghANQgiANgUAJQgeAOg3AYQgOAGgPAGQgLAFgZAEQgkAHgfAGQgIABgIABQgYAFggAFQglAHgfAJQgsANhMAMQgfAGgZAGQgkAHgQAFQgQAGgaADIhlATQgEABgEABQgBAAgBAAQgBABgCAAQAAAAgBAAIAAAAIgWAEQgDABgDAAQgXAEglAFQgEABgFABAJ4EKQgCAEgDADAKZDhQgGAHgFAGQgEAFgDAEIgPATAJBFDQgBAAAAAAQgaAggXAUQgEAFgDADQgBABAAAAQgBAAAAAAAqZD7QAYgHAVgOQAWgMAlgVQAggOAjgSAlrBdQAEgCADgDQAFgCAGgDArjM4QgDABgCAAQgYAEglAFQgEABgFABIgKACIhIAAAq/MxQgEABgEABQgBAAgBAAAGlHQQgDACgDABQAAABgBAA");
	this.shape_15.setTransform(251.9758,255.7014);
	this.shape_16 = new cjs.Shape();
	this.shape_16.graphics.f("#000000").s().p("A/YPOIgsgBIgCAAIgDAAIgCAAIgPgBIgJAAIg3gHQgEgCgBgCIAAAAQAAgEAlgHQgTAGAAABIAAAAIABAAIEdgKIBTgEIAggCQBKgEA5gFIgMADIABAAIgBAAIAMgDIABAAIgMADIgWAHIAVgHIAAAAIAAAAQg/AGhUAEIhTAFQgaAFh/AEIgBAAIgcAAIgHABIgSAAIAAAAIAAAAIgmgBIgOgBIgfgBIABAAIgBAAIAfABIAOABIAmABIAAAAIAAAAIASAAIAHgBIAcAAIABAAQB/gEAagFIBTgFQBUgEA/gGIgVAHIh2ASIgNABIgLACIhSAGIgnACIgBAAQg7AEgwAAIgLgBgEghNAO9IAAAAQAAgBATgGIACgBIACAAIgCAAIgCABIAIgDIgEACIAHgDIA0gQQBmgeAogVQAUgKBag2IAVgMIAPgJIgPAJIA2gfIgVAMIgGADIAGgDIAVgMQAbgPAUgKIAvgWIgtAWQgsAVhOAvQhaA2gVALQgoAUhmAfQhMAXgGADgA7bMaIAHgEIAFgDIgHAEIgFADIAAAAgEghMAO9IAAAAgA/6OjQBmgfAogUQAVgLBag2QBOgvAsgVIAtgWIgvAWQgUAKgbAPIBthEIADgBIAugeIASgLIANgJIBZg5IBVg4IACgBIAmgWIAMgHIgNAIIglAVIAlgVIANgIIBjgxIACgBIAzgZIAbgOIAEgDIACgBQBIglBQglIACgBQAegOAfgMQBTgjBfgSIAagFIgYAFQhhAThVAjQgeALgdAOQAdgOAegLQBVgjBhgTIAYgFIATgEIANgDIADgBQAYgGAUgOIA4ggQAhgOAjgTICDhIIAGgEIAMgGIBVgxIARgLQAqgcBjguIA8ggQBbguA4gjIAXgNIAIgEIAGgFQAZgUA+gcQBNgtAYgXIAFgJQANgXALgQIACgDIAFgGIANgRIARgUIAAABIgRATIARgTIAAgBIABgBQAMgVAJgMIAFgHIAFgHIAFgHIAtgwIAMgMIAKgKIAKgKIALgJIgJAIIgMALIAMgLIAJgIIA2gtIAKgJIAEgCIgEACIgKAJIAJgIIAFgDIBYhAIAKgIQA3gpAZgXQAbgYAYgTQAegaA8geQAYgMAagKIAggMQArgQAlgFQAZgEAWAAIACAAIAmADIALACIAcADQAoAFAcABIAFABIAKAAIAMAAIABAAQAYAAAMgDIADgBIAEgBQAHgCAGgIIAfgpIAKgKIAAgBQAkggAuAAIALABIAAAAIAEAAIAEABQA6AHAfAGIATAEIAHACIANAFIAVAMQAOAKAHAOQAEAGADAIQADALACARIACAxIABAHQAJAlAoARIAMAFIgMgFQgogRgJgkIgBgIIABAIQAJAkAoARIAMAFIADABIALADIAQAFICCAfIAJACIAIACIAQAEIANAEIAPAEIAjAKQAiALAQAIIAPAKIAPAMIAKAJIAUAXIgVgXIgJgJIAJAJIAVAXIAWAdQAKAPADAJQAMAagJAbIgCAEIgGARIAGAXIAAAIIAAAFIgDAMIgCAFQgEAHgGAGIAAAAIAAAAQAGgGAEgHQgEAHgGAGIAAABIAAADIgEAOQgDAQgcARIgaAPIgUAJIgVAJIAVgJIAUgJIgTAJIgWAJIgsASIgZAJQgrAPgmAKIgdAIIg2AMIgaAFIhSASQhKAQgwAQIgJAEIgHACIgMAFIgFADIgfAMIgEACIgFACIhBAaIgYAJIgRAIIgeALIAegLIARgIIAYgJIgXAJIgTAJIgdAKIhdAiIgMAEIgEABIgJACQgsANg4APQgfAJgQAEIgGABIAGgBQAQgEAfgJQA4gPAsgNIAJgCIgIACQgsANg6APQgeAJgQAEIgGABIhRAZIgNAGIgUAJIgOAGIgWALIg0AaIgHAEIgBAAQgdAQgQAOIgEAEIgbAXIgFAFQgJAJgHAJIgBAAQgaASgZAaIgBAAIgGAHIgBAAIguA0IgMAOIgGAIIAGgIIAMgOIgLANIgHAJIgOATIgGAHQgZAWgZAcIgBAAQgaAggXAUIgHAIIgBABIgBAAQg4AxgjAaIgGAFIgGADIgBABIgFADQgsAcgpARQgiAWgmAQIgVAIIhJAbQguAQghANQgiANgUAJIhVAmIgdAMQgLAFgZAEIhDANIgQACIg4AKQglAHgfAJQgsANhMAMIg4AMQgkAHgQAFQgQAGgaADIhlATIgIACIgBAAIgEABIgBAAIAAAAIgVAEIgHABIg8AJIgJACIgKACIhIAAIghgDQgHgCgWAAIgEAAIAAAAIAAAAIgGgBQgsgFgzAAIAAAAIAAAAIgdAAIgGAAIgFAAIAAAAIAAAAIgIAAIgFABIgEAAIgfACIgGABIgFABIAFgBIAGgBIgGABIgFABIiZAcIgNADIheAQIgKACIgRADIgHABIgHACIgmALIgRAHIg/AXIgGACIgGACQg5AFhKAEIggACIhTAEIkdAKQAGgDBMgXgAphEkIgyAsQgYATgJAOQgFAHgIAUIgmAnQgOAOgxASQgvAPgFADQgKAHhdAdQhjAfgRAIQhQAkhmAWIACgBQBmgVBPgkQARgIBkgfQBdgdAKgHQAFgDAvgPQAwgRAPgPIAmgnQAIgUAEgHQAJgOAZgTIAxgsIgBAAgAC5GmIAAgBQAAgIgIgMQAIAMAAAIIAAABQAAgIgIgMIAAgBIASgnIAAgDIAAABIgSAoIAAABIAAABQAIAMAAAIIAAAAgAxiGlIAGgEIgGAEgEgg6AO2IAAAAgEggkAOsIANgTIAHgDIAEgCIAmgNIADgBIB9grIAkgPIAXgKIBBgfIgVAMQhaA2gUAKQgoAVhmAeIg0AQQAJgDACgDgAu/NBQg8gIhIADIgdAAIAEAAIAFgBIAIAAIAAAAIAAAAIAFAAIAGAAIAdAAIAAAAIAAAAQAzAAAsAFIAGABIAAAAIAAAAIAEAAIAAAAIgBAAgAu+NBIAAAAgAxgM8IAAAAgArIMzIAAAAgArHMzIAIgCIgIACIgBAAIABAAgAq/MxIAAAAgAw1IwQARgIBjgfQBdgdAKgHQAFgDAvgPQAxgSAOgOIAmgnQAIgUAFgHQAJgOAYgTIAygsIABAAIgxAsQgZATgJAOQgEAHgIAUIgmAnQgPAPgwARQgvAPgFADQgKAHhdAdQhkAfgRAIQhPAkhmAVIgCABQBmgWBQgkgAIPF3QAXgUAaggIABAAQgbAggXAUIgHAIIAHgIgAJBFDIAAAAgApsDmIA7ghIBDggQgjATghAOIg4AgQgUAOgYAGIgDABQAYgHAVgOgAnuClIAAAAgAM3BIIAAAAIgEAEIAEgEgAdPkfQAmgKArgPIAZgJIgYAJQgsAQgnAKIgcAHIAdgIgAFqliIAEgFIgFAGIgCADIADgEgAFulnIAAAAgAGtm+IAEgFIgFAHIgFAHIAGgJgAGxnDIAAAAgEAhagHKIAAgIIgGgXIAGgRIACgEIgCAGIgGAOIAGAXQABAHgBAHIAAgFgEAhcgH+IAAAAgAKwqdQA1goAZgWQAcgZAZgUQAegaA6gcQAZgNAcgLIAegLIggAMQgaAKgYAMQg8AegeAaQgYATgbAYQgZAXg3ApIgKAIIALgJgAbmrqIAAAAgAbWrvIgLgDIAMADIAPAFIgQgFgAPethIAAAAgAT1trIAAAAgATwtsIABAAIAEABIgFgBgAU0tvIADgBIgEABIgDABIAEgBgAU3twIAAAAgASQt1IAAAAgASFt3IgmgDQAVABASACIAKACIgLgCg");
	this.shape_16.setTransform(251.9573,255.7014);
	this.shape_17 = new cjs.Shape();
	this.shape_17.graphics.f("#000000").s().p("As+NTQgUgCguAAQgNAAiXgpQiRgog2AGQiFANi5AJIimAJQg1AKj+AIQj5AHgQgFQgGgCCrgzQDLg9BQgpQApgWC0hsQCdheBXgpQBSgmB5hCQBrg0CAgdQCNggDvgrQDMgrCfhHQAigQDGg9QC6g7AUgNQAJgGBegfQBhgiAdgdIBNhOQAPgoAKgOQASgdAwgmIBkhWIByhHQB2hMAZgYQAlgnBvgqQCAgwBOAQQBeATAuAFQA0AFAMgJQAIgHAlgtQAugoA5ALQBXAPAcALQAwASANAiQAJAagGA6QACAyA4AVIC4A7QB5AnARAUQBZBqgKAXIgjBQIASAWQANAZgeASQgnAahdAeQhnAjhRAJQh0AOhWAPQh3AWgkAWQglAWiAAjQh4AigUgBQgbAAhjAUQh0AYggAWQhHAqgsAcQhSA0gPAlQgcAQggAnQglAvgWAZQg1A6hlBDQhmA+gZAUQggAaixAwIjaA4QgZAHhGAZQg9AWhIAQQgYAFg1AIQgrAGgdAJQghALhgADQhnADgKACQgNADghgBQgvgDhIAFIgbACIgJgBg");
	this.shape_17.setTransform(266.8858,262.8314);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.shape_2},{t:this.shape_1}]}).to({state:[{t:this.shape_4},{t:this.shape_3}]},2).to({state:[{t:this.shape_6},{t:this.shape_5}]},1).to({state:[{t:this.shape_8},{t:this.shape_7}]},1).to({state:[{t:this.shape_10},{t:this.shape_9}]},1).to({state:[{t:this.shape_12},{t:this.shape_11}]},1).to({state:[{t:this.shape_14},{t:this.shape_13}]},1).to({state:[{t:this.shape_16},{t:this.shape_15}]},1).to({state:[{t:this.shape_17}]},1).to({state:[]},1).to({state:[]},5).wait(12));
	// Ebene_21
	this.instance_11 = new lib.Symbol3();
	this.instance_11.setTransform(306.8,272.2,1,1,0,0,0,271.5,28.7);
	this.instance_11._off = true;
	this.timeline.addTween(cjs.Tween.get(this.instance_11).wait(10).to({_off:false},0).to({regX:266.8,regY:27.7,rotation:4.4773,x:348.65,y:263.85},6).to({regY:27.8,scaleX:0.9999,scaleY:0.9999,rotation:2.6869,x:331.95,y:267.3},2).to({regX:271.5,regY:28.7,scaleX:1,scaleY:1,rotation:0,x:306.8,y:272.2},3).wait(6));
	// Ebene_22
	this.instance_12 = new lib.Symbol4();
	this.instance_12.setTransform(342,270.7,1,1,0,0,0,40.6,93);
	this.instance_12._off = true;
	this.timeline.addTween(cjs.Tween.get(this.instance_12).wait(10).to({_off:false},0).to({rotation:14.9983,x:391.6},6).to({rotation:0,x:342},5).wait(6));
	// Leg_behind
	this.shape_18 = new cjs.Shape();
	this.shape_18.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("AkKkIIA/BFQAKANADAGQAFAJAAAJIAAAUQADAKARAIQgBAAgCABQhUAugYgRQgJgGAFgNQAGgNAPgJQAogaArAgQAEADAEADQAzAtAcB5QAFAEgCAYQgDAeAOAeQAIARgBARQgBAKgFAQQgFAcAoAdQAyAlA8gJQA5gIAjgtQAdgjAshUIAmhMQAIgnABgRQABgegggUQghgVgogBQgVgBgcAGQgQADgXAfQgZAhgIAiQgFAWADAaQABAKADAKQAEATAGANQADACACgCQAEgCgEgPQgEgLgPgYQgIgNgMgRQgfgtgWgaQgcgbgIgJQgNgOAGgLQAHgLAFgxQAEgtgBgIQgDgMgIgOQgNgUgOADQgKACgJAAQgDAAgBADQAAAEAGAPQAHASABAHQAHBFgJAJQgJAJgEACQgIAEgGgGQgLgJgHgHQgOgMgHgLQhFg/glgmIgJgJQgEgEgDgE");
	this.shape_18.setTransform(49.5265,288.788);
	this.shape_19 = new cjs.Shape();
	this.shape_19.graphics.f("#000000").s().p("AgnDzQgogdAFgcQAFgQABgKQABgRgIgRQgOgeADgeQACgYgFgEQgdh5gygsIADgCQgRgIgDgKIAAgUQAAgJgFgJIgNgTIg/hEQAlAmBFA+QAHALAOAMIASAQQAGAGAIgEQAEgCAJgJQAJgJgHhFQgBgHgHgSQgGgPAAgEQAAAAABgBQAAgBABAAQAAgBAAAAQABAAABAAQAJAAAKgCQAOgDANAUQAIAOADAMQABAIgEAtQgFAxgHALQgGALANAOIAkAkQAWAaAfAtIAUAeIAEAUQAEATAGANIABABIACAAIAAAAIAAAAIACAAIAAgBQACgBAAgEQAAgEgCgIQgEgLgPgYQAPAYAEALQACAIAAAEQAAAEgCABIAAABIgCAAIAAAAIAAAAIgCAAIgBgBQgGgNgEgTIgEgUQgDgaAFgWQAIgiAZghQAXgfAQgDQAcgGAVABQAoABAhAVQAgAUgBAeQgBARgIAnIgmBMQgsBUgdAjQgjAtg5AIQgMACgLAAQgvAAgogegAkUhjQgJgGAFgNQAGgNAPgJQAogaArAgIAIAHQg9AhgeAAQgKAAgHgFgAioh/IAAAAg");
	this.shape_19.setTransform(49.5373,289.6505);
	this.shape_20 = new cjs.Shape();
	this.shape_20.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("AkKkIIgJgJQgEgEgDgEAkKkIIA/BFQAKANADAGQAFAJAAAJIAAAUQADAKARAIQgBAAgCABQhUAugYgRQgJgGAFgNQAGgNAPgJQAogaArAgQAEADAEADQAzAtAcB5QAFAEgCAYQgDAeAOAeQAIARgBARQgBAKgFAQQgFAcAoAdQAyAlA8gJQA5gIAjgtQAdgjAshUIAmhMQAIgnABgRQABgegggUQghgVgogBQgVgBgcAGQgQADgXAfQgZAhgIAiQgFAWADAaQABAKADAKQAEATAGANQADACACgCQAEgCgEgPQgEgLgPgYQgIgNgMgRQgfgtgWgaQgcgbgIgJQgNgOAGgLQAHgLAFgxQAEgtgBgIQgDgMgIgOQgNgUgOADQgKACgJAAQgDAAgBADQAAAEAGAPQAHASABAHQAHBFgJAJQgJAJgEACQgIAEgGgGQgLgJgHgHQgOgMgHgLQhFg/glgmg");
	this.shape_20.setTransform(49.5265,288.788);
	this.shape_21 = new cjs.Shape();
	this.shape_21.graphics.f("#000000").s().p("AgnDzQgogdAFgcQAFgQABgKQABgRgIgRQgOgeADgeQACgYgFgEQgdh5gygsIADgCQgRgIgDgKIAAgUQAAgJgFgJIgNgTIg/hEQAlAmBFA+QAHALAOAMIASAQQAGAGAIgEQAEgCAJgJQAJgJgHhFQgBgHgHgSQgGgPAAgEQAAAAABgBQAAgBABAAQAAgBAAAAQABAAABAAQAJAAAKgCQAOgDANAUQAIAOADAMQABAIgEAtQgFAxgHALQgGALANAOIAkAkQAWAaAfAtIAUAeIAEAUQAEATAGANIAAAAIABABIACAAIAAAAIAAAAIACAAIAAgBQACgBAAgEQAAgEgCgIQgEgLgPgYQgDgaAFgWQAIgiAZghQAXgfAQgDQAcgGAVABQAoABAhAVQAgAUgBAeQgBARgIAnIgmBMQgsBUgdAjQgjAtg5AIQgMACgLAAQgvAAgogegABJBmIgCAAIgBgBIAAAAQgGgNgEgTIgEgUQAPAYAEALQACAIAAAEQAAAEgCABIAAABIgCAAIAAAAIAAAAgAA4AxIAAAAgAkUhjQgJgGAFgNQAGgNAPgJQAogaArAgIAIAHQg9AhgeAAQgKAAgHgFgAioh/IAAAAg");
	this.shape_21.setTransform(49.5373,289.6505);
	this.shape_22 = new cjs.Shape();
	this.shape_22.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("AA4A6QgIgNgMgRQgfgtgWgaQgcgbgIgJQgNgOAGgLQAHgLAFgxQAEgtgBgIQgDgMgIgOQgNgUgOADQgKACgJAAQgDAAgBADQAAAEAGAPQAHASABAHQAHBFgJAJQgJAJgEACQgIAEgGgGQgLgJgHgHQgOgMgHgLQhFg/glgmIgJgJQgEgEgDgEAkKkIIA/BFQAKANADAGQAFAJAAAJIAAAUQADAKARAIQgBAAgCABQhUAugYgRQgJgGAFgNQAGgNAPgJQAogaArAgQAEADAEADQAzAtAcB5QAFAEgCAYQgDAeAOAeQAIARgBARQgBAKgFAQQgFAcAoAdQAyAlA8gJQA5gIAjgtQAdgjAshUIAmhMQAIgnABgRQABgegggUQghgVgogBQgVgBgcAGQgQADgXAfQgZAhgIAiQgFAWADAaQABAKADAKQAEATAGANQADACACgCQAEgCgEgPQgEgLgPgY");
	this.shape_22.setTransform(121.3375,311.1075,1,1,67.2131);
	this.shape_23 = new cjs.Shape();
	this.shape_23.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("ABHBJQgIgNgMgRQgfgtgWgaQgcgbgIgJQgNgOAGgLQAHgLAFgxQAEgtgBgIQgDgMgIgOQgNgUgOADQgKACgJAAQgDAAgBADQAAAEAGAPQAHASABAHQAHBFgJAJQgJAJgEACQgIAEgGgGQgLgJgHgHQgOgMgHgLQhFg+glgmIA/BEQAKANADAGQAFAJAAAJIAAAUQADAKARAIQgBABgCABQhUAtgYgRQgJgGAFgNQAGgNAPgJQAogaArAgQAEADAEAEQAyAsAdB5QAFAEgCAYQgDAeAOAeQAIARgBARQgBAKgFAQQgFAcAoAdQAyAlA8gJQA5gIAjgtQAdgjAshUIAmhMQAIgoABgQQABgegggUQghgVgogBQgVgBgcAGQgQADgXAfQgZAhgIAiQgFAWADAaQABAKADAKQAEATAGANQADACACgCQAEgCgEgPQgEgLgPgYgAj7j4IgJgKQgEgEgDgE");
	this.shape_23.setTransform(154.0605,297.5256,1,1,112.2122);
	this.shape_24 = new cjs.Shape();
	this.shape_24.graphics.f().s("#FFFFFF").ss(3.8,0,0,4).p("Aj1kLIA/BEQAKANADAGQAFAJAAAJIAAAUQADAKARAIQgBABgCABQhUAtgYgRQgJgGAFgNQAGgNAPgJQAogaArAgQAEADAEAEQAzAsAcB5QAFAEgCAYQgDAeAOAeQAIARgBARQgBAKgFAQQgFAcAoAdQAyAlA8gJQA5gIAjgtQAdgjAshUIAmhMQAIgnABgRQABgegggUQghgVgogBQgVgBgcAGQgQADgXAfQgZAhgIAiQgFAWADAaQABAKADAKQAEATAGANQADACACgCQAEgCgEgPQgEgLgPgYQgIgNgMgRQgfgtgXgaQgbgbgIgJQgNgOAGgLQAHgLAFgxQAEgtgBgIQgDgMgIgOQgNgUgOADQgOADgBAjQAAAQAAATQABACAAACQgCAHABgLQABgEABgJQADgUABAJQAHBFgJAJQgJAJgEACQgIAEgGgGQgLgJgHgHQgOgMgHgLQhFg+glgmIgJgKQgBgCgXAvQgYAugBgB");
	this.shape_24.setTransform(124.5499,314.9893,1.3516,1,0,180,0);
	this.shape_25 = new cjs.Shape();
	this.shape_25.graphics.f("#000000").s().p("AgnDzQgogdAFgcQAFgQABgKQABgRgIgRQgOgeADgeQACgYgFgEQgdh5gygsIADgCQgRgIgDgKIAAgUQAAgJgFgJIgNgTIg/hEQAlAmBFA+QAHALAOAMIASAQQAGAGAIgEQAEgCAJgJQAJgJgHhFQgBgJgDAUIgCANIAAgjQABgjAOgDQAOgDANAUQAIAOADAMQABAIgEAtQgFAxgHALQgGALANAOIAkAkQAWAaAfAtIAUAeIAEAUQAEATAGANIAAAAIABABIACAAIAAAAIAAAAIACAAIAAgBQACgBAAgEQAAgEgCgIQgEgLgPgYQgDgaAFgWQAIgiAZghQAXgfAQgDQAcgGAVABQAoABAhAVQAgAUgBAeQgBARgIAnIgmBMQgsBUgdAjQgjAtg5AIQgMACgLAAQgvAAgogegABJBmIgCAAIgBgBIAAAAQgGgNgEgTIgEgUQAPAYAEALQACAIAAAEQAAAEgCABIAAABIgCAAIAAAAIAAAAgAA4AxIAAAAgAkUhjQgJgGAFgNQAGgNAPgJQAogaArAgIAIAHQg9AhgeAAQgKAAgHgFgAioh/IAAAAg");
	this.shape_25.setTransform(127.4027,314.4995,1.3516,1,0,180,0);
	this.instance_13 = new lib.Leg3();
	this.instance_13.setTransform(124.6,315.05,1,1,0,0,0,41.1,27.9);
	this.instance_13._off = true;
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.shape_19,p:{rotation:0,x:49.5373,y:289.6505}},{t:this.shape_18}]}).to({state:[{t:this.shape_21},{t:this.shape_20}]},2).to({state:[{t:this.shape_19,p:{rotation:67.2131,x:120.5464,y:311.4514}},{t:this.shape_22}]},3).to({state:[{t:this.shape_19,p:{rotation:112.2122,x:151.2797,y:298.0151}},{t:this.shape_23}]},2).to({state:[{t:this.shape_25},{t:this.shape_24}]},2).to({state:[{t:this.instance_13}]},1).to({state:[{t:this.instance_13}]},3).to({state:[{t:this.instance_13}]},3).to({state:[{t:this.instance_13}]},2).to({state:[{t:this.instance_13}]},2).to({state:[{t:this.instance_13}]},3).wait(4));
	this.timeline.addTween(cjs.Tween.get(this.instance_13).wait(10).to({_off:false},0).to({rotation:-45},3).to({rotation:-14.999,x:162.5,y:300.3},3).to({scaleX:0.9999,scaleY:0.9999,rotation:0,x:162.55,y:290.45},2).to({regY:28.1,scaleX:1,scaleY:1,rotation:-14.999,x:139,y:309.75},2).to({scaleX:0.9999,scaleY:0.9999,rotation:0},3).wait(4));
	this._renderFirstFrame();
}).prototype = p = new lib.AnMovieClip();
p.nominalBounds = new cjs.Rectangle(320.1,240,246.79999999999995,153);
// library properties:
lib.properties = {
	id: 'D1C0CB865AB345C1A0B0231A06989053',
	width: 640,
	height: 480,
	fps: 30,
	color: "#FFFFFF",
	opacity: 1.00,
	manifest: [
		{src:"/images/NACTAM_export_atlas_1.png", id:"NACTAM_export_atlas_1"}
	],
	preloads: []
};
// bootstrap callback support:
(lib.Stage = function(canvas) {
	createjs.Stage.call(this, canvas);
}).prototype = p = new createjs.Stage();
p.setAutoPlay = function(autoPlay) {
	this.tickEnabled = autoPlay;
}
p.play = function() { this.tickEnabled = true; this.getChildAt(0).gotoAndPlay(this.getTimelinePosition()) }
p.stop = function(ms) { if(ms) this.seek(ms); this.tickEnabled = false; }
p.seek = function(ms) { this.tickEnabled = true; this.getChildAt(0).gotoAndStop(lib.properties.fps * ms / 1000); }
p.getDuration = function() { return this.getChildAt(0).totalFrames / lib.properties.fps * 1000; }
p.getTimelinePosition = function() { return this.getChildAt(0).currentFrame / lib.properties.fps * 1000; }
an.bootcompsLoaded = an.bootcompsLoaded || [];
if(!an.bootstrapListeners) {
	an.bootstrapListeners=[];
}
an.bootstrapCallback=function(fnCallback) {
	an.bootstrapListeners.push(fnCallback);
	if(an.bootcompsLoaded.length > 0) {
		for(var i=0; i<an.bootcompsLoaded.length; ++i) {
			fnCallback(an.bootcompsLoaded[i]);
		}
	}
};
an.compositions = an.compositions || {};
an.compositions['D1C0CB865AB345C1A0B0231A06989053'] = {
	getStage: function() { return exportRoot.stage; },
	getLibrary: function() { return lib; },
	getSpriteSheet: function() { return ss; },
	getImages: function() { return img; }
};
an.compositionLoaded = function(id) {
	an.bootcompsLoaded.push(id);
	for(var j=0; j<an.bootstrapListeners.length; j++) {
		an.bootstrapListeners[j](id);
	}
}
an.getComposition = function(id) {
	return an.compositions[id];
}
an.makeResponsive = function(isResp, respDim, isScale, scaleType, domContainers) {		
	var lastW, lastH, lastS=1;		
	window.addEventListener('resize', resizeCanvas);		
	resizeCanvas();		
	function resizeCanvas() {			
		var w = lib.properties.width, h = lib.properties.height;			
		var iw = window.innerWidth, ih=window.innerHeight;			
		var pRatio = window.devicePixelRatio || 1, xRatio=iw/w, yRatio=ih/h, sRatio=1;			
		if(isResp) {                
			if((respDim=='width'&&lastW==iw) || (respDim=='height'&&lastH==ih)) {                    
				sRatio = lastS;                
			}				
			else if(!isScale) {					
				if(iw<w || ih<h)						
					sRatio = Math.min(xRatio, yRatio);				
			}				
			else if(scaleType==1) {					
				sRatio = Math.min(xRatio, yRatio);				
			}				
			else if(scaleType==2) {					
				sRatio = Math.max(xRatio, yRatio);				
			}			
		}
		domContainers[0].width = w * pRatio * sRatio;			
		domContainers[0].height = h * pRatio * sRatio;
		domContainers.forEach(function(container) {				
			container.style.width = w * sRatio + 'px';				
			container.style.height = h * sRatio + 'px';			
		});
		stage.scaleX = pRatio*sRatio;			
		stage.scaleY = pRatio*sRatio;
		lastW = iw; lastH = ih; lastS = sRatio;            
		stage.tickOnUpdate = false;            
		stage.update();            
		stage.tickOnUpdate = true;		
	}
}
an.handleSoundStreamOnTick = function(event) {
	if(!event.paused){
		var stageChild = stage.getChildAt(0);
		if(!stageChild.paused || stageChild.ignorePause){
			stageChild.syncStreamSounds();
		}
	}
}
an.handleFilterCache = function(event) {
	if(!event.paused){
		var target = event.target;
		if(target){
			if(target.filterCacheList){
				for(var index = 0; index < target.filterCacheList.length ; index++){
					var cacheInst = target.filterCacheList[index];
					if((cacheInst.startFrame <= target.currentFrame) && (target.currentFrame <= cacheInst.endFrame)){
						cacheInst.instance.cache(cacheInst.x, cacheInst.y, cacheInst.w, cacheInst.h);
					}
				}
			}
		}
	}
}
})(createjs = createjs||{}, AdobeAn = AdobeAn||{});
var createjs, AdobeAn;
</script>
<script>
var canvas, stage, exportRoot, anim_container, dom_overlay_container, fnStartAnimation;
function init() {
	canvas = document.getElementById("canvas");
	anim_container = document.getElementById("animation_container");
	dom_overlay_container = document.getElementById("dom_overlay_container");
	var comp=AdobeAn.getComposition("D1C0CB865AB345C1A0B0231A06989053");
	var lib=comp.getLibrary();
	var loader = new createjs.LoadQueue(false);
	loader.addEventListener("fileload", function(evt){handleFileLoad(evt,comp)});
	loader.addEventListener("complete", function(evt){handleComplete(evt,comp)});
	var lib=comp.getLibrary();
	loader.loadManifest(lib.properties.manifest);
}
function handleFileLoad(evt, comp) {
	var images=comp.getImages();	
	if (evt && (evt.item.type == "image")) { images[evt.item.id] = evt.result; }	
}
function handleComplete(evt,comp) {
	//This function is always called, irrespective of the content. You can use the variable "stage" after it is created in token create_stage.
	var lib=comp.getLibrary();
	var ss=comp.getSpriteSheet();
	var queue = evt.target;
	var ssMetadata = lib.ssMetadata;
	for(i=0; i<ssMetadata.length; i++) {
		ss[ssMetadata[i].name] = new createjs.SpriteSheet( {"images": [queue.getResult(ssMetadata[i].name)], "frames": ssMetadata[i].frames} )
	}
	exportRoot = new lib.NACTAM_HTML5Canvas();
	stage = new lib.Stage(canvas);	
	//Registers the "tick" event listener.
	fnStartAnimation = function() {
		stage.addChild(exportRoot);
		createjs.Ticker.framerate = lib.properties.fps;
		createjs.Ticker.addEventListener("tick", stage);
	}	    
	//Code to support hidpi screens and responsive scaling.
	AdobeAn.makeResponsive(false,'both',false,1,[canvas,anim_container,dom_overlay_container]);	
	AdobeAn.compositionLoaded(lib.properties.id);
	fnStartAnimation();
}
</script>
<!-- write your code here -->
<div id="animation_container" style="display: none; width:64px; height:48px; position: fixed; z-index: 10; filter: invert(1) sepia(29%) saturate(7091%)  brightness(0.64) invert(1)  hue-rotate(-10deg)">
	<canvas id="canvas" width="64" height="48" style="position: absolute; display: block;"></canvas>
	<div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:64px; height:48px; position: absolute; left: 0px; top: 0px; display: block;">
	</div>
</div>
