@{
    ViewData["Sidebar"] = "Empty";
    ViewData["Header"] = "Empty";
}

<div class="container mt-5 d-flex justify-content-center">
	<div class="card text-center" style="width: 300px;">
		<img src="https://uxwing.com/wp-content/themes/uxwing/download/signs-and-symbols/stop-blocked-icon.png" class="card-img-top mx-auto mt-3" style="max-width: 120px;" alt="Keine Berechtigung">
		<div class="card-body pt-1">
			<h5 class="card-title fw-bold mt-3">Keine Berechtigung</h5>
			<p class="card-text">Sie haben keine Berechtigung diese Daten einzusehen. Dies kann daran liegen, dass Sie keine erweiterte Einsichtnahme für diese Person erteilt bekommen haben oder jene Ihnen diese in der Zwischenzeit entzogen hat! Bitte lassen Sie sich eine erweiterte Einsicht erteilen, um fortzufahren.</p>
		</div>
	</div>
</div>
<div style="position: absolute: bottom: 0; right: 0; font-size: 7px; text-align: right">
	Was ist ein Dietrich gegen eine Aktie? Was ist ein Bankraub gegen die Gründung einer Bank?
</div>
