:root {
	--lila: #9a71f6 
	--lightLila: #cda5ff
	--lightGrey: #e3e6f0
	--lightPink: #ff6fa8
	--lightYellow: #ffd966
	--lightGreen: #83f6d8
	--lightGreenLessSaturated: #83f6d836
	--lightPinkLessSaturated: #ff6fa81c
	--BlueLessSaturated: #007bff8a
}



